<%= content_for :navbar_content do %>
  <h4 class='text-primary'>Mon espace hôte</h4>
<% end %>

<% unless @user.stripe_verified? %>
  <%= render 'stripe_connection_card' %>
<% end %>
<div class="container pb-3">
  <p><b>Votre activité</b></p>
  <p>Historique des revenus : <span class="text-primary"><%= humanized_money_with_symbol current_user.total_payouts_for_dashboard %></span></p>

  <% if @cookoons.any? %>
    <p>
      Optimisez vos revenus, recevez des demandes de locations au bon moment en
      mettant à jour les disponibilités de votre Cookoon:
    </p>
    <div class="text-center pt-4 pb-3">
      <%= link_to 'Mon calendrier', cookoon_availabilities_path(@cookoons.first), class: 'btn btn-primary btn-action btn-block' %>
    </div>
  <% end %>

  <hr>

  <p><b>Vos dernières demandes de réservation</b></p>
  Vous avez <span class="text-primary"><%= @pending_reservations_count %> demande(s) de réservation</span> en attente
  <div class="text-center pt-5 pb-3">
    <%= link_to 'Voir mes Réservations', host_reservations_path, class: 'btn btn-primary btn-action btn-block' %>
  </div>
  <hr>
  <p><b>Vos Cookoons</b></p>
  <div class="row">
    <% @cookoons.each do |cookoon| %>
      <div class="col-12 col-md-6 mb-3">
        <%= component 'card_cookoon',
                      title: cookoon.name,
                      title_class: :reverse,
                      image_url: cl_image_path(cookoon.photos.first.path, width: 800, height: 450, crop: :fill),
                      link_url: edit_cookoon_path(cookoon),
                      cta: "Modifier"
        %>
      </div>
    <% end %>
  </div>
  <% unless current_user.reached_max_cookoons_count? %>
    <div class="py-3 text-center">
      <% button_text = @cookoons.any? ? 'Ajouter un autre Cookoon' : 'Proposer mon appartement' %>
      <%= link_to button_text, new_cookoon_path, class: 'btn btn-action btn-block btn-outline-primary' %>
    </div>
  <% end %>
  <div class="border border-dark pt-2 px-2 text-center">
    <p>
      Cookoon s'inscrit dans une démarche responsable, à ce titre nous n'acceptons
      pas plus deux espaces par hôte afin de ne pas participer à l'inflation des
      prix de l'immobilier.
    </p>
  </div>
</div>
