<p>Bonjour <%= @user.first_name %>,</p>
<p>L’invitation de <%= @user.invited_by&.first_name %> à rejoindre Cookoon expire dans quelques jours : dépêchez-vous de l’accepter pour profiter de la communauté Cookoon !</p>
<p>Pour rejoindre Cookoon :</p>

<table border="0" cellpadding="0" cellspacing="10" class="info"><tbody>
  <tr>
    <td align="center">
      <%= image_tag('icon-one.png', alt: 'Un') %>
    </td>
    <td align="center">
      <b>Téléchargez l’application Cookoon Inside</b>
      <table border="0" cellpadding="0" cellspacing="10" class="store-badge"><tbody><tr>
        <td align="center">
          <%= link_to 'https://itunes.apple.com/fr/app/cookoon-inside/id1291943406', target: :_blank do %>
            <%= image_tag('app-store-badge.png', alt: 'App Store') %>
          <% end %>
          <%= link_to 'https://play.google.com/store/apps/details?id=cookoon.cookoonandroid', target: :_blank do %>
            <%= image_tag('google-play-badge.png', alt: 'Google Play Store') %>
          <% end %>
        </td>
      </tr></tbody></table>
    </td>
  </tr>

  <tr>
    <td align="center">
      <%= image_tag('icon-two.png', alt: 'Deux') %>
    </td>
    <td align="center">
      <b>puis créez votre compte Cookoon.</b>
      <table border="0" cellpadding="0" cellspacing="10" class="btn btn-primary btn-pb-0"><tbody><tr>
        <td align="center">
          <%= link_to "J'accepte l'invitation", accept_invitation_url(@user, :invitation_token => @token), target: :_blank %>
        </td>
      </tr></tbody></table>
    </td>
  </tr>
</tbody></table>

<p>Vous rencontrez une difficulté? faites en part à notre concierge en répondant directement à cet email !</p>

<p><strong>Cookoon, qu’est ce que c’est ?</strong></p>
<p>Un réseau de confiance, exclusif qui vous permettra de :</p>
<ul>
  <li>louer l’appartement d’autres membres et choisir des options pour tous vos besoins de courte durée, personnels ou professionnels (déjeuner d’affaires, réunion, rendez-vous, dîner entre amis, match de foot sur grand écran...) ;</li>
  <li>rentabiliser votre appartement durant vos absences, sans contrainte grâce aux services concierge et ménage ;</li>
  <li>rencontrer d’autres membres, communiquer auprès d’eux sur vos expériences Cookoon.</li>
</ul>

<% content_for :post_scriptum do %>
  <p>PS : Une question ? Rendez-vous sur <%= link_to 'aide.cookoon.fr', 'https://aide.cookoon.fr', target: :_blank %>.</p>
<% end %>
