<% if @user.first_name.present? %>
  <p>Cher(e) <%= "#{@user.first_name.capitalize}" %>,</p>
<% else %>
  <p>Bonjour,</p>
<% end %>

<p>L'invitation de <%= @user.invited_by&.full_name %> à rejoindre Cookoon expire dans deux jours : dépêchez-vous de l'accepter pour profiter de la communauté Cookoon.</p>

<p>Cookoon est un club qui rassemble des membres sensibles à la gastronomie, aux arts de la table et plus généralement à l'expression artistique sous différentes formes.</p>

<p>En étant membre Cookoon, vous pouvez organiser vos réceptions, proposer un lieu afin que d'autres membres puissent le louer ponctuellement pour un repas ou un cocktail, et enfin coopter d'autres membres lorsque nous vous octroyons des invitations.</p>

<p>Votre identifiant pour vous connecter :
  <%= link_to "#{@user.email}", accept_invitation_url(@user, invitation_token: @token), target: :_blank, style: "font-weight: bold; text-decoration: none; font-style: normal; color: black" %>
</p>

<p>Pour créer votre compte, suivez le lien ci-dessous :</p>
<table border="0" cellpadding="0" cellspacing="10" class="btn btn-pb-0 btn-primary"><tbody><tr>
  <td align="center">
    <%= link_to 'Je deviens membre Cookoon', accept_invitation_url(@user, invitation_token: @token), target: :_blank %>
  </td>
</tr></tbody></table>

<p>Cette invitation est encore valable pendant <b>deux jours</b> à compter d'aujourd'hui.</p>

<h4><%= image_tag("cookoon-losange.png", size: '18', style: 'margin-bottom: -2px;') %> Recevoir chez Cookoon</h4>
<p>Sur <%= link_to 'membre.cookoon.club', 'https://membre.cookoon.club/', target: :_blank %>, vous pourrez composer le repas ou le cocktail de vos rêves en choisissant un lieu exceptionnel, un chef talentueux et un menu. Cookoon vous fera ainsi vivre ainsi qu'à vos convives une expérience sur-mesure et unique.</p>

<h4><%= image_tag("cookoon-losange.png", size: '18', style: 'margin-bottom: -2px;') %> Proposer un lieu inaccessible ou exceptionnel</h4>
<p>Vous souhaitez rentabiliser un bien dans un cadre de confiance et sans contrainte ? Le faire vivre autrement ?  Vous pouvez nous le proposer ; s'il correspond à notre cahier des charges, vous rejoindrez les 70 hôtes parisiens de Cookoon.</p>

<h4><%= image_tag("cookoon-losange.png", size: '18', style: 'margin-bottom: -2px;') %> Coopter vos proches</h4>
<p>L'expérience Cookoon se destine à un public susceptible de l'apprécier, et les lieux dans lesquels elle se déroule se doivent donc d'être préservés. Cookoon est donc un espace de confiance que nous protégeons en faisant croître le nombre de membres avec mesure en donnant des invitations à nos membres les plus impliqués.</p>
