<p>Cher(e) <%= @user.first_name %>,</p>
<p>Vous avez rejoint Cookoon, bienvenue parmi nous !</p>
<p><%= @user.invited_by&.first_name %> vous a invité, faisons maintenant les présentations :</p>
<p><strong>Cookoon est un réseau sélectif fondé sur la confiance</strong> qui vous permet de :</p>
<ul>
  <li><strong>louer l'appartement d'un autre membre et de choisir des services additionnels</strong> pour tous vos événements du quotidien, personnels ou professionnels</li>
  <li>si vous le souhaitez, <strong>de rentabiliser votre appartement dès que vous n'y êtes pas</strong></li>
  <li><strong>communiquer</strong> avec et auprès des autres membres</li>
</ul>
<p>Une question ? Contactez votre <%= mail_to 'concierge@cookoon.fr', 'concierge Cookoon', target: :_blank %> ou rendez-vous sur <%= link_to 'aide.cookoon.fr', 'https://aide.cookoon.fr', target: :_blank %></p>

<%= content_for :post_scriptum do %>
  <table border="0" cellpadding="0" cellspacing="10" class="info"><tbody>
    <tr>
      <td align="center">
        <%= image_tag('icon-user.png', alt: 'Parrainage') %>
      </td>
      <td>
        <b>Parrainer vos proches ?</b>
        <br>Pour préserver la confiance, seuls les membres invités peuvent rejoindre la communauté Cookoon : découvrez comment <%= link_to 'obtenir des invitations', new_user_invitation_url, target: :_blank %>.
      </td>
    </tr>
    <tr>
      <td align="center">
        <%= image_tag('icon-home.png', alt: 'Cookoon') %>
      </td>
      <td>
        <b>Vous souhaitez proposer votre appartement ?</b>
        <br>Proposez votre appartement dans <%= link_to 'Mon Espace Hôte', host_dashboard_url, target: :_blank %> dans l'application Cookoon. Nous prendrons rendez-vous ensemble.
      </td>
    </tr>
  </tbody></table>
<% end %>
