<div class="d-flex justify-content-center">
  <div class="row">
    <% resas.each do |resa| %>
      <div class="col-12 col-md-4 px-0 px-sm-3 pb-4">
        <div class="cookoon-card mb-0 h-100 d-flex flex-column justify-content-between">
          <div>

            <div class="cookoon-card-image" style="background-image: url(<%= cl_image_path(resa.cookoon.photos.first.path, height: 250, crop: :fill)%>">
            </div>

            <div class="cookoon-card-body pb-0">

              <p>
                <strong>Reservation id: </strong>
                <%= resa.id %>
              </p>

              <hr>

              <%= render 'admin/cookoons/name_address', cookoon: resa.cookoon %>

              <hr>

              <p>Type : <%= resa.humanized_type_name %></p>
              <p>Date : <%= "#{I18n.l resa.start_at, format: '%A %d %B'}" %></p>

              <hr>

              <p class="text-center">Utilisateur</p>
              <%= render "admin/users/form", user: resa.user %>

              <hr>

              <p class="text-center">Hôte</p>
              <%= render "admin/users/form", user: resa.cookoon.user %>

              <hr>

              <p class="text-center">Menu</p>
              <%= render 'admin/chefs/chef_menu_selected_one_line', menu: resa.menu %>

            </div>
          </div>
          <%= link_to "Voir", admin_reservation_path(resa), class: "btn-cookoon btn-cookoon-primary text-center" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
