<div class="d-flex justify-content-center">
  <div class="row">
    <% resas.each do |resa| %>
      <div class="col-12 col-md-4 px-0 px-sm-3 pb-4">
        <div class="cookoon-card mb-0 h-100 d-flex flex-column justify-content-between">
          <div>
            <% if !resa.cookoon.blank? %>
              <div class="cookoon-card-image" style="background-image: url(<%= cl_image_path(resa.cookoon.photos.first.path, height: 250, crop: :fill)%>">
              </div>

              <div class="cookoon-card-body pb-0">
                <h4 style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;"><%= resa.cookoon.name %></h4>
                <p class="mb-1" style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;"><i class="fas fa-map-marker-alt"></i> <%= resa.cookoon.address %></p>

                <hr>
                <p>Type : <%= resa.humanized_type_name %></p>
                <p>Date : <%= "#{I18n.l resa.start_at, format: '%A %d %B'}" %></p>

                <hr>

                <p class="text-center">Utilisateur</p>
                <%= render "user_form", user: resa.user %>

                <hr>

                <p class="text-center">Hôte</p>
                <%= render "user_form", user: resa.cookoon.user %>

              </div>
            <% end %>
          </div>
          <div class="cookoon-card-body pt-0">
            <div class="btn-cookoon btn-cookoon-primary text-center">
              <%= link_to "Voir", admin_reservation_path(resa) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
