<div class="container px-0">
  <div class="row mx-0">
    <div class="d-none d-md-block col-md-4 col-lg-3 px-0 pr-3">
    </div>
    <div class="col-12 col-md-8 col-lg-9 px-0">
      <div class="breadcrumbs">
        <h1 class="text-center first-title">Les réservations</h1>
      </div>
      <hr class="breadcrumbs-hr">
    </div>
  </div>
</div>

<div class="container d-flex justify-content-center px-0 pb-5">
  <div class="row">

    <div class="d-none d-md-block col-md-4 col-lg-3 px-0 pr-3">
      <%= render 'shared/back_button_transparent', button_title: 'Retour au dashboard', path: admin_dashboard_path %>
    </div>

    <div class="col-12 col-md-8 col-lg-9 px-0">

      <div class="row mx-0">
        <ul class="nav nav-pills mb-2">
          <li class="nav-item">
            <a href="#charged" class="nav-link active" data-toggle="pill" role="tab">Charged</a>
          </li>

          <li class="nav-item">
            <a href="#accepted" class="nav-link" data-toggle="pill" role="tab">Accepted</a>
          </li>

          <li class="nav-item">
            <a href="#menu_payment_captured" class="nav-link" data-toggle="pill" role="tab">Menu payment captured</a>
          </li>

          <li class="nav-item">
            <a href="#services_payment_captured" class="nav-link" data-toggle="pill" role="tab">Services payment captured</a>
          </li>

          <li class="nav-item">
            <a href="#quotation_asked" class="nav-link" data-toggle="pill" role="tab">Quotation asked</a>
          </li>
          <li class="nav-item">
            <a href="#quotation_sent" class="nav-link" data-toggle="pill" role="tab">Quotation sent</a>
          </li>
          <li class="nav-item">
            <a href="#quotation_accepted" class="nav-link" data-toggle="pill" role="tab">Quotation accepted</a>
          </li>
          <li class="nav-item">
            <a href="#quotation_refused" class="nav-link" data-toggle="pill" role="tab">Quotation refused</a>
          </li>
        </ul>
      </div>

      <div class="row mx-0">
        <div class="tab-content py-0 py-md-3 w-100">
          <div class="tab-pane fade show active" id="charged" role="tabpanel">
            <%= render "list", resas: @reservations.charged.decorate %>
          </div>
          <div class="tab-pane fade" id="accepted" role="tabpanel">
            <%= render "list", resas: @reservations.accepted.decorate %>
          </div>
          <div class="tab-pane fade" id="menu_payment_captured" role="tabpanel">
            <%= render "list", resas: @reservations.menu_payment_captured.decorate %>
          </div>
          <div class="tab-pane fade" id="services_payment_captured" role="tabpanel">
            <%= render "list", resas: @reservations.services_payment_captured.decorate %>
          </div>
          <div class="tab-pane fade" id="quotation_asked" role="tabpanel">
            <%= render "list", resas: @reservations.quotation_asked.decorate %>
          </div>
          <div class="tab-pane fade" id="quotation_sent" role="tabpanel">
            <%= render "list", resas: @reservations.quotation_proposed.decorate %>
          </div>
          <div class="tab-pane fade" id="quotation_accepted" role="tabpanel">
            <%= render "list", resas: @reservations.quotation_accepted.decorate %>
          </div>
          <div class="tab-pane fade" id="quotation_refused" role="tabpanel">
            <%= render "list", resas: @reservations.quotation_refused.decorate %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
