<div class="container px-0">
  <div class="row mx-0">
    <div class="d-none d-md-block col-md-4 col-lg-3 px-0 pr-3">
    </div>
    <div class="col-12 col-md-8 col-lg-9 px-0">
      <div class="breadcrumbs">
        <h1 class="text-center first-title">Les réservations</h1>
      </div>
      <hr class="breadcrumbs-hr">
    </div>
  </div>
</div>

<div class="container d-flex justify-content-center px-0 pb-5">
  <div class="row">

    <div class="d-none d-md-block col-md-4 col-lg-3 px-0 pr-3">
      <%= render 'shared/back_button_transparent', button_title: 'Retour au dashboard', path: admin_dashboard_path %>
    </div>

    <div class="col-12 col-md-8 col-lg-9 px-0">

      <div class="row mx-0">
        <ul class="nav nav-pills mb-2">
          <li class="nav-item">
            <a href="#customer_reservations_to_come" class="nav-link active" data-toggle="pill" role="tab">A venir</a>
          </li>

          <li class="nav-item">
            <a href="#customer_reservations_that_needs_host_action" class="nav-link" data-toggle="pill" role="tab">Action hôte requise</a>
          </li>

          <li class="nav-item">
            <a href="#customer_reservations_that_needs_admin_action" class="nav-link" data-toggle="pill" role="tab"> Action admin requise</a>
          </li>

          <li class="nav-item">
            <a href="#customer_reservations_that_needs_user_action" class="nav-link" data-toggle="pill" role="tab"> Action user requise</a>
          </li>
        </ul>
      </div>

      <div class="row mx-0">
        <div class="tab-content py-0 py-md-3 w-100">
          <div class="tab-pane fade show active" id="customer_reservations_to_come" role="tabpanel">
            <%= render "list", resas: @customer_reservations_to_come %>
          </div>
          <div class="tab-pane fade" id="customer_reservations_that_needs_host_action" role="tabpanel">
            <%= render "list", resas: @customer_reservations_that_needs_host_action %>
          </div>
          <div class="tab-pane fade" id="customer_reservations_that_needs_admin_action" role="tabpanel">
            <%= render "list", resas: @customer_reservations_that_needs_admin_action %>
          </div>
          <div class="tab-pane fade" id="customer_reservations_that_needs_user_action" role="tabpanel">
            <%= render "list", resas: @customer_reservations_that_needs_user_action %>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
