<div class="container">
  <h1 class="text-center my-4"><%= @reservation.cookoon.name %></h1>
</div>

<div class="container d-flex justify-content-center">
  <div class="row">
    <%= render 'admin/back_button', button_title: 'Retour aux réservations', path: admin_reservations_path %>
    <div class="col-12 col-md-9 col-lg-10 px-0 px-md-2 px-lg-3">
      <div class="text-center">
        <%= carousel_for(@reservation.cookoon.photos) %>
      </div>
      <div class="mt-5">
        <p>
          <strong>Utilisateur: </strong>
          <%= "#{@reservation.user.first_name} #{@reservation.user.last_name} / Email: #{@reservation.user.email} / Tél: #{@reservation.user.phone_number}"%>
        </p>
        <p>
          <strong>Hôte: </strong>
          <%= "#{@reservation.cookoon.user.first_name} #{@reservation.cookoon.user.last_name} / Email: #{@reservation.cookoon.user.email} / Tél: #{@reservation.cookoon.user.phone_number}"%>
        </p>
        <% if !@reservation.menu.blank? %>
          <h3>Chef et menu</h3>
          <%= render "chef_card", chef: @reservation.menu.chef, menu: @reservation.menu %>
        <% end %>
        <% if !@reservation.services.blank? %>
          <h3>Services</h3>
          <% @reservation.services.each do |service| %>
            <p><%= service.category %></p>
            <p><%= service.unit_price %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
