<div class="container px-0">
  <div class="row mx-0">
    <div class="d-none d-md-block col-md-4 col-lg-3 px-0 pr-3">
    </div>
    <div class="col-12 col-md-8 col-lg-9 px-0">
      <div class="breadcrumbs">
        <h1 class="text-center first-title"><%= @reservation.cookoon.name %></h1>
      </div>
      <hr class="breadcrumbs-hr">
    </div>
  </div>
</div>

<div class="container d-flex justify-content-center px-0 pb-5">
  <div class="row">

    <div class="d-none d-md-block col-md-4 col-lg-3 px-0 pr-3">
      <%= render 'shared/back_button_transparent', button_title: 'Retour aux réservations', path: admin_reservations_path %>
    </div>

    <div class="col-12 col-md-8 col-lg-9 px-0">
      <div class="text-center">
        <%= carousel_for(@reservation.cookoon.photos) %>
      </div>

      <div class="mt-5">
        <p>
          <strong>Utilisateur: </strong>
          <%= render 'admin/users/form_one_line', user: @reservation.user %>
        </p>

        <p>
          <strong>Hôte: </strong>
          <%= render 'admin/users/form_one_line', user: @reservation.cookoon.user %>
        </p>

        <h3>Message</h3>
        <% if @reservation.message.present? %>
          <p>
            <%= simple_format(@reservation.message) %>
          </p>
        <% else %>
          <p>Aucun message n'a été indiqué</p>
        <% end %>

        <h3>Chef et menu</h3>
        <% if @reservation.menu.present? %>
          <p>
            <strong>Chef: </strong>
            <%= @reservation.menu.chef.name %>
          </p>
          <%= render 'menus/card', menu: @reservation.menu, chef: @reservation.menu.chef %>
        <% else %>
          <p>Aucun menu n'a été sélectionné</p>
        <% end %>

        <h3 class="mt-3">Services</h3>
        <% if @reservation.services.present? %>
          <% @reservation.services.each do |service| %>
            <div class="mb-5">
              <p><%= service.name %></p>
              <p>Statut: <%= service.status %></p>
              <p>Tarif: <%= service.quantity %> x <%= service.unit_price %></p>
              <p>Frais de service: <%= service.quantity_base %> x <%= service.base_price %></p>
              <p>Marge: <%= service.margin %></p>
              <p>Total HT avec marge: <%= service.price %></p>
              <% if @reservation.accepts_new_service? && service.initial? %>
                <%= link_to 'Modifier', edit_admin_reservation_service_path(@reservation, service), :class => "btn-cookoon btn-cookoon-primary mb-4" %>
                <%= link_to 'Valider', admin_reservation_service_validate_service_path(@reservation, service), method: :patch, :class => "btn-cookoon btn-cookoon-primary mb-4" %>
              <% end %>
            </div>
          <% end %>
          <% if @reservation.accepts_new_service? %>
            <%= link_to 'Ajouter un service', new_admin_reservation_service_path(@reservation), :class => "btn-cookoon btn-cookoon-primary mb-4" %>
          <% end %>
          <% if @reservation.needs_services_validation? && @reservation.has_all_services_validated? %>
            <%= link_to 'Valider les services', admin_reservation_validate_services_path(@reservation), :class => "btn-cookoon btn-cookoon-primary mb-4", method: :patch %>
          <% end %>
          <% if @reservation.needs_services_payment_asking? %>
            <%= link_to 'Demander le paiement des services', admin_reservation_ask_services_payment_path(@reservation), :class => "btn-cookoon btn-cookoon-primary mb-4", method: :patch %>
          <% end %>
        <% else %>
          <p>Aucun service n'a été sélectionné</p>
        <% end %>

        <% if policy([:admin, @reservation]).quotation_sent? %>
          <div class="d-flex justify-content-center mt-5">
            <%= link_to 'Le devis a été envoyé', admin_reservation_quotation_sent_path(@reservation), :class => "btn-cookoon btn-cookoon-primary", method: :patch %>
          </div>
        <% elsif policy([:admin, @reservation]).quotation_accepted? || policy([:admin, @reservation]).quotation_refused? %>
          <div class="d-flex justify-content-between mt-5">
            <%= link_to 'Le devis a été accepté', admin_reservation_quotation_accepted_path(@reservation), :class => "btn-cookoon btn-cookoon-primary mr-2 text-center", method: :patch %>
            <%= link_to 'Le devis a été refusé', admin_reservation_quotation_refused_path(@reservation), :class => "btn-cookoon btn-cookoon-primary ml-2 text-center", method: :patch %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
