<div class="d-flex justify-content-center">
  <div class="row">
    <% apparts.each do |appart| %>
      <div class="col-12 col-md-4 px-0 px-sm-3 pb-4">
        <div class="cookoon-card mb-0 h-100">
          <div class="cookoon-card-image" style="background-image: url(<%= cl_image_path(appart.photos.first.path, height: 250, crop: :fill)%>">
            <div class="btn-cookoon btn-cookoon-primary">
              <%= link_to "Modifier", edit_admin_cookoon_path(appart) %>
            </div>
            <p class="address-info">
              <i class="fas fa-map-marker-alt"></i>
              <%= appart.address %>
            </p>
          </div>
          <div class="cookoon-card-body">
            <h4 style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;"><%= appart.name %></h4>
            <p class="mb-1"><%= "Hôte : #{appart.user.first_name} #{appart.user.last_name}" %></p>
            <p class="mb-1"><%= "E-mail : #{appart.user.email}" %></p>
            <p class="mb-1"><%= "Tél : #{appart.user.phone_number}" %></p>
            <div style="display: grid; grid-template-columns: repeat(2, auto); grid-gap: 0.5rem; grid-template-rows: minmax(2.6rem, 2.6rem); justify-content: start;">
              <% appart.perk_specifications.limit(2).each do |perk| %>
                <div>
                  <p style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;">
                    <i class="<%= "#{perk.icon_name}" %> text-primary mr-2"></i>
                    <%= "#{perk.name}" %>
                  </p>
                </div>
              <% end %>
            </div>
            <p class="mb-0" style="overflow: hidden; display: -webkit-box; -webkit-line-clamp: 5; -webkit-box-orient: vertical;"><%= appart.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
