<%= simple_form_for @cookoon,
                    url: admin_cookoon_path,
                    remote: true,
                    html: {
                      class: 'pb-3',
                      data: {
                        controller: 'google-maps-autocomplete'
                      }
                    } do |f| %>
  <p class="form-control-label">
    <strong>Hôte: </strong><%= "#{@cookoon.user.first_name} #{@cookoon.user.last_name} / Email: #{@cookoon.user.email} / Tél: #{@cookoon.user.phone_number}"%>
    </p>
  <%= f.input :name, label: 'Nom du Cookoon' %>
  <%= f.input :status, as: :select, collection: Cookoon.statuses.keys, label: 'Statut', selected: Cookoon.statuses.key(Cookoon.statuses[@cookoon.status]), input_html: {style: "-webkit-appearance: checkbox;"} %>
  <%= f.input :surface, label: 'Surface de réception en m²' %>
  <%= f.input :price, label: 'Prix / heure' %>
  <%= f.input :address,
              label: 'Adresse',
              placeholder: '',
              input_html: {
                data: {
                  target: 'google-maps-autocomplete.addressInput google-maps-autocomplete.formattedAddress'
                }
              }
  %>
  <%= f.input :description, label: "Description" %>
  <%= f.input :capacity, label: "Capacité d'accueil" %>
  <%= f.input :category, label: 'Catégorie', collection: Cookoon::CATEGORIES, as: :select, selected: @cookoon.category, input_html: {style: "-webkit-appearance: checkbox;"}%>
  <%= f.input :photos, as: :attachinary, input_html: { data: { controller: 'attachinary' } } %>

    <h5 class="mt-3">Spécifications sélectionnées</h5>
    <%= render 'admin/perks/index', perks: @cookoon.perks.includes(:perk_specification) %>
    <div class="btn-cookoon btn-block btn-cookoon-primary text-center mb-4">
      <%= link_to 'Ajouter/Supprimer des spécifications', new_admin_cookoon_perk_path(@cookoon) %>
    </div>

  <h5 class="mt-3">Spécifications non sélectionnées</h5>
  <div class="d-flex" style="flex-wrap: wrap">
    <%#= render 'cookoons/perks', perks: @perks_not_selected %>
    <%= render 'cookoons/perks_in_card', div_style: "", perks: @perks_not_selected, p_style: "" %>
  </div>

  <h5 class="mt-3">Informations pratiques</h5>
  <%= f.input :digicode %>
  <%= f.input :building_number %>
  <%= f.input :floor_number %>
  <%= f.input :door_number %>
  <%= f.input :wifi_network %>
  <%= f.input :wifi_code %>
  <%= f.input :caretaker_instructions, input_html: { rows: 3 } %>

  <div class="text-center">
    <%= f.submit 'ENREGISTRER', class: 'btn-cookoon btn-cookoon-primary btn-lg btn-block' %>
  </div>
<% end %>
