<%= simple_form_for @cookoon,
                    url: admin_cookoon_path,
                    html: {
                      class: 'pb-3',
                      data: {
                        controller: 'google-maps-autocomplete'
                      }
                    } do |f| %>
  <p class="form-control-label">
    <strong>Hôte: </strong><%= "#{@cookoon.user.first_name} #{@cookoon.user.last_name} / Email: #{@cookoon.user.email} / Tél: #{@cookoon.user.phone_number}"%>
    </p>
  <%= f.input :name, placeholder: 'Ex: Avenue de la Bourdonnais' %>
  <%= f.input :citation, placeholder: 'Ex: Un écrin de verdure dans Paris' %>
  <%= f.input :status, as: :select, collection: Cookoon.statuses.keys, selected: Cookoon.statuses.key(Cookoon.statuses[@cookoon.status]) %>
  <%= f.input :surface %>
  <%= f.input :price %>
  <%= f.input :address,
              placeholder: '',
              input_html: {
                data: {
                  target: 'google-maps-autocomplete.addressInput google-maps-autocomplete.formattedAddress'
                }
              }
  %>
  <%= f.input :description %>
  <%= f.input :capacity %>
  <%= f.input :capacity_standing %>
  <%= f.input :category, collection: Cookoon::CATEGORIES, as: :select, selected: @cookoon.category %>
  <div div data-controller="attachinary">
    <%= f.input :main_photo, as: :attachinary %>
    <%= f.input :long_photo, as: :attachinary %>
    <%= f.input :photos, as: :attachinary %>
  </div>

  <h5 class="mt-3">Architecte d'intérieur</h5>
  <%= f.input :architect_name %>
  <%= f.input :architect_title %>
  <%= f.input :architect_build_year %>
  <%= f.input :architect_url, placeholder: 'Ex: https://cookoon.club'%>

  <h5 class="mt-3">Informations pratiques</h5>
  <%= f.input :digicode %>
  <%= f.input :building_number %>
  <%= f.input :floor_number %>
  <%= f.input :door_number %>
  <%= f.input :wifi_network %>
  <%= f.input :wifi_code %>
  <%= f.input :caretaker_instructions, input_html: { rows: 3 } %>

  <div class="text-center">
    <%= f.submit 'ENREGISTRER', class: 'btn-cookoon btn-cookoon-primary btn-lg btn-block' %>
  </div>
<% end %>
