<div class="container">
  <h2>Mes moyens de paiement</h2>

  <% if @credit_cards.blank? && current_user.available_discount? %>
    <div class="information-card text-center">
      <div class="information-card-picto">
        <i class="fa fa-question-circle-o" aria-hidden="true"></i>
      </div>
      <div class="information-card-title">
        <p>Aucune carte associée</p>
      </div>
      <div class="information-card-text">
        <p>
          Ajoutez une carte de paiement pour pouvoir réserver un Cookoon et bénéficier de <b><%= humanized_money_with_symbol current_user.discount_balance %> de crédit.</b>
        </p>
        <p>Allez-y en toute confiance : votre numéro de carte est crypté contre toute violation.</p>
      </div>
    </div>
  <% elsif @credit_cards.blank? %>
    <div class="information-card text-center">
      <div class="information-card-picto">
        <i class="fa fa-question-circle-o" aria-hidden="true"></i>
      </div>
      <div class="information-card-title">
        <p>Aucune carte associée</p>
      </div>
      <div class="information-card-text">
        <p>
          Vous pouvez ajouter votre carte de paiement en toute confiance : votre numéro de carte est crypté contre toute
          violation, et vous serez débité uniquement si votre Hôte accepte votre demande de location.
        </p>
      </div>
    </div>
  <% else %>
    <ul class="fa-ul h5">
      <% @credit_cards.data.each_with_index do |card_data, index| %>
        <li><i class="fa-li co co-cb fa-lg"></i>
          <div class="d-flex-default pt-1">
            <div>
              <%= "(Principale)" if index.zero? %>
              <%= display_credit_card_for card_data %>
            </div>
            <%= link_to credit_card_path(card_data.id), remote: true, method: :delete, class: 'no-button slowLoad' do %>
              <i class="fa fa-times fa-lg"></i>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>

  <!-- Trigger modal with cb form -->
  <div class="py-3 text-center">
    <button type="button" class="button button-blue" data-toggle="modal" data-target="#credit-card-modal">
      Ajouter une carte
    </button>
  </div>
</div>


<% if @credit_cards.any? && current_user.available_discount? %>
  <div class="card-bottom mt-3">
    <div class="card-bottom-content">
      <div class="text-center">
        <i class="fa fa-question-circle-o fa-2x" aria-hidden="true"></i>
      </div>
      <p class='mt-3'>
        <b>Vous avez <%= humanized_money_with_symbol current_user.discount_balance %> à dépenser chez Cookoon !</b>
        Vous pouvez en profiter jusqu'au <%= display_date_for current_user.discount_expires_at %>, dépéchez-vous !
      </p>
    </div>
  </div>
<% end %>


<%= render 'modal' %>
