<div class="container">
  <h2>Mes moyens de paiement</h2>

  <% if @stripe_sources.blank? %>
    <p>Vous n'avez aucune carte de crédit, Ajoutez en une dès maintenant !</p>
  <% else %>
    <ul class="fa-ul fs-16">
      <% @stripe_sources.data.each_with_index do |card_data, index| %>
        <li><i class="fa-li co co-cb"></i>
          <div class="flex space-between">
            <div>
              <%= "(Principale)" if index.zero? %>
              <%= display_credit_card_for card_data %>
            </div>
            <%= link_to credit_card_path(card_data.id), remote: true, method: :delete, class: 'no-button slowLoad' do %>
              <i class="fa fa-times fs-20"></i>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  <% end %>

  <!-- Trigger modal with cb form -->
  <div class="padded text-center">
    <button type="button" class="button button-blue" data-toggle="modal" data-target="#credit-card-modal">
      Ajouter une carte
    </button>
  </div>
</div>

<div class="modal fade" id="credit-card-modal" tabindex="-1" role="dialog" aria-labelledby="creditCardModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="creditCardModalLabel">Ajouter une carte</h4>
      </div>
      <div class="modal-body" style='padding: 15px;'>
        <%= render 'form' %>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>

<script>
  var stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
  var elements = stripe.elements();

  var style = {
    base: {
      fontSize: '16px',
      lineHeight: '24px',
      color: '#FFFFFF',
      iconColor: '#FFFFFF',
      '::placeholder': {
        color: '#c9c9c9',
      }
    }
  };

  var card = elements.create('card', {style: style});
  var form = document.getElementById('card-form');
  var $form = $('#card-form');

  function stripeTokenHandler(token) {
    // Insert the token ID into the form so it gets submitted to the server
    var form = document.getElementById('card-form');
    var hiddenInput = document.getElementById('credit_card_stripe_token');
    hiddenInput.setAttribute('value', token.id);

    // Submit the form
    $form.trigger('submit.rails');
  }

  function stripeSubmit() {
    var $button = $('#add-card');
    event.stopPropagation();
    event.preventDefault();
    $button.prop("disabled", true);
    $button.html('<i class="fa fa-spinner fa-spin" style="margin-right: 10px;"></i>Chargement');

    stripe.createToken(card).then(function(result) {
      if (result.error) {
        // Inform the user if there was an error
        $button.prop("disabled", false);
        $button.html('Ajouter une carte');
        var errorElement = document.getElementById('card-errors');
        errorElement.textContent = result.error.message;
      } else {
        // Send the token to your server
        stripeTokenHandler(result.token);
      }
    });
  }

  document.addEventListener("turbolinks:load", function() {
    card.mount('#card-element');

    card.addEventListener('change', function(event) {
      var displayError = document.getElementById('card-errors');
      if (event.error) {
        displayError.textContent = event.error.message;
      } else {
        displayError.textContent = '';
      }
    });

    form.addEventListener('submit', stripeSubmit);

  });
</script>
