<%= simple_form_for @user, url: users_path, method: :patch, remote: true do |f| %>
  <div class="form-inputs">
    <%= f.input :photo, as: :attachinary, input_html: { data: { controller: 'attachinary' } } %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :born_on, start_year: Date.today.year - 90, end_year: Date.today.year - 12 %>
    <%= f.input :phone_number %>
    <%= f.input :description, input_html: { rows: 3 } %>
  </div>

  <div class="form-actions">
    <div class='text-center'>
      <%= f.submit class: 'btn btn-lg btn-primary px-5 text-uppercase'  %>
    </div>
  </div>
<% end %>
