<%= simple_form_for [:host, @reservation], remote: true do |f| %>
  <div class="d-flex-default">
    <div class='service-presentation'>
      <p>
        Ajouter une aide ménagère - <%= humanized_money_with_symbol @reservation.default_service_price %> ?
      </p>
      <p class="service-description">
        L'aide ménagère passera dans votre Cookoon après la location selon l'heure qui vous convient.
      </p>
    </div>
    <div class="service-input">
      <div class="form-group boolean optional reservation_cleaning">
        <input value="0" type="hidden" name="reservation[cleaning]">
        <input class="boolean optional d-none reservation-option" type="checkbox" value="1" name="reservation[cleaning]" id="reservation_cleaning" data-price-cents="<%= @reservation.default_service_price_cents %>">
        <label class="boolean optional toggle" for="reservation_cleaning">
          <span class="toggle-handler"></span>
        </label>
      </div>
    </div>
  </div>
  <div class="d-flex-default">
    <div class='service-presentation'>
      <p>
        Ajouter un concierge - <%= humanized_money_with_symbol @reservation.default_service_price %> ?
      </p>
      <p class="service-description">
        Le concierge récupère vos clés, assure le check-in et le check-out puis vous rend vos clés.
      </p>
    </div>
    <div class="service-input">
      <div class="form-group boolean optional reservation_janitor">
        <input value="0" type="hidden" name="reservation[janitor]">
        <input class="boolean optional d-none reservation-option" type="checkbox" value="1" name="reservation[janitor]" id="reservation_janitor" data-price-cents="<%= @reservation.default_service_price_cents %>">
        <label class="boolean optional toggle" for="reservation_janitor">
          <span class="toggle-handler"></span>
        </label>
      </div>
    </div>
  </div>
  <hr class="white">
  <div class="text-right">
    <p>Vous recevrez : <span id="display-price" data-reservation-price-cents="<%= @reservation.host_payout_price_cents %>"><%= humanized_money_with_symbol @reservation.host_payout_price %></span></p>
  </div>
  <% if @reservation.pending_or_paid? %>
    <div class="d-flex-default">
      <%= f.submit 'Refuser', name: "refuse", class: 'btn btn-light btn-action-sm' %>
      <%= f.submit 'Accepter', name: "accept", class: 'btn btn-light btn-action-sm slowLoad' %>
    </div>
  <% end %>
<% end %>
