<%= content_for :navbar_back_url, host_reservations_path %>
<%= content_for :navbar_content do %>
  <h4 class='text-primary'>Mes réservations</h4>
<% end %>

<div class="container">
  <div class="reservation-card">
    <%= render 'user_infos', reservation: @reservation %>

    <% unless @reservation.message_for_host.blank? %>
      <div class="reservation-card-message py-4">
        <p><strong>Le message de votre locataire : </strong></p>
        <em><%= simple_format @reservation.message_for_host %></em>
      </div>
    <% end %>

    <h4>Choisissez vos options personnalisés</h4>
    <%= render 'form' %>
  </div>
</div>
