<% if notice %>
  <div class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= alert %>
  </div>
<% end %>
<% if flash[:payment_succeed] %>
  <%= render 'payments/succeed' %>
<% end %>
<% if flash[:service_payment_succeed] %>
  <%= render 'services/payment_succeed' %>
<% end %>
<% if flash[:catering_requested] %>
  <%= render 'reservations/catering_requested' %>
<% end %>
<% if flash[:invitation_sent] %>
  <%= render 'devise/invitations/sent' %>
<% end %>
<% if flash[:invitation_accepted] %>
  <%= render 'devise/invitations/accepted' %>
<% end %>
