<%# if notice %>
<% if notice.present? %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
  </div>
<% end %>

<%# if alert %>
<% if alert.present? %>
  <div class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= alert %>
  </div>
<% end %>

<% if flash[:payment_succeed] %>
  <%= render 'payments/succeed' %>
<% end %>
<% if flash[:service_payment_succeed] %>
  <%= render 'services/payments/succeed' %>
<% end %>
<% if flash[:reservation_completed] %>
  <%= render 'reservations/completed' %>
<% end %>
<% if flash[:invitation_sent] %>
  <%= render 'devise/invitations/sent' %>
<% end %>
<% if flash[:invitation_accepted] %>
  <%= render 'devise/invitations/accepted' %>
<% end %>
<% if flash[:check_of_chef_availability_needed] %>
  <%= render 'chefs/check_availability_needed' %>
<% end %>
<% if flash[:amex_reservation_confirmed] %>
  <%= render 'un_chef_pour_vous/reservations/amex_reservation_confirmed' %>
<% end %>
