<header>
  <div class="home-wrapper text-center">
    <div class="home-container">
      <div class="title-block">
        <h1>COOKOON</h1>
        <h3>RECEVONS PARTOUT !</h3>
      </div>
      <div class="col lg-7 col sm-7">
        <h2>Une communauté exclusive pour organiser vos événements chez les autres</h2>
      </div>
      <div class="col lg-5 sm-5">
        <%= image_tag("iphone.png", class: "img-responsive", style: "margin : 0 auto -30px", :alt => "Application iPhone") %>
      </div>
    </div>
  </div>
</header>

<section id="content" style="background-color: #fafeef">
    <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <div class="section-heading">
                  <h3>En toute simplicité</h3>
                  <h4 class="text-center">Comment ça marche ?</h4>
              </div>
          </div>
      </div>

      <div class="row" style="margin-bottom: 30px">
          <div class="col-xs-3 text-center">
            <i class="co co-success fa-5x" aria-hidden="true"></i>
          </div>

          <div class="col-xs-9">
              <h3>Organiser un Evénement</h3>
              <p>Louez l’appartement d’un autre membre <span class="text-muted">en 3 minutes pour tous vos besoins de courte durée : rendez-vous,
dîner entre amis, réunions & moments de calme.</span></p>
              <p>Choisissez vos options : <span class="text-muted">traiteur, chef à domicile, joueur de harpe … pour personnaliser votre expérience.<span></p>
          </div>

          <div class="col-xs-12" style="text-align:right">
            <%= link_to 'En savoir plus >', en_savoir_plus_louer_un_cookoon_path, class: 'no-button' %>
          </div>
        </div>

        <div class="row" style="margin-bottom: 30px">
          <div class="col-xs-3 text-center">
            <i class="co co-home fa-5x" aria-hidden="true"></i>
          </div>

          <div class="col-xs-9">
              <h3>Devenir Hôte</h3>
              <p>Participer à la communauté en proposant votre appartement <span class="text-muted">ou votre maison, pour rentabiliser votre lieu de vie pendant votre absence.
                Et pas besoin de dormir ailleurs !</span>
                <br>Choisissez des services <span class="text-muted">pour vous affranchir de toutes contraintes : ménage, concierge...<span></p>
          </div>

          <div class="col-xs-12" style="text-align:right">
            <%= link_to 'En savoir plus >', en_savoir_plus_devenir_hote_path, class: 'no-button' %>
          </div>
        </div>

        <div class="row" style="margin-bottom: 30px">
          <div class="col-xs-3 text-center">
            <i class="co co-user fa-5x" aria-hidden="true"></i>
          </div>

          <div class="col-xs-9">
              <h3>Etre Membre</h3>
              <p> Chez Cookoon, tout le monde se connaît, ou presque.<br>
              <span class="text-muted">Chaque membre est invité par un parrain qui est responsable de son filleul. La communauté se construit sur des valeurs d'échange et de respect.</span></p>
          </div>
        </div>

      </div>
</section>

<section id="warranty" class="flex-container container light-padded">
  <div>
    <h4>Tous les Cookoons sont assurés par notre partenaire AXA</h4>
  </div>
  <div>
    <%= image_tag("axa_logo_solid_rgb.png", class: "img-responsive", style: "max-width: 100px; margin: 0 auto;") %>
    <h4><%= link_to 'En savoir plus >', en_savoir_plus_garanties_cookoon_path, class: 'no-button' %></h4>
  </div>
</section>

<section id="community" style="background: #006F8B;">
    <div class="container">
      <div class="row" style="margin: 20px 0px; color: white">
          <h4>Rejoindre la communauté ?</h4>
          <b>Vos proches sont membres de la communauté Cookoon ?
            <br>
            Demandez leur une invitation !</b>
      </div>
      <div class="text-center" style="margin-bottom: 20px">
            <%= link_to raw("En savoir +"), 'https://aide.cookoon.fr/hc/fr/articles/115002653231-Comment-rejoindre-la-communaut%C3%A9-', target: "_blank", class: 'btn btn-default button button-white'%>
      </div>
    </div>
</section>

<div class="text-center" style="padding: 30px">
  <%= link_to 'ACCÈS MEMBRE', new_user_session_path, class: 'button button-blue' %>
</div>

<footer>
    <div class="container text-center" style="padding: 20px">
      <p>&copy; Cookoon 2017.
      <br>Tous droits réservés.</p>
      <%= link_to 'Conditions Générales', '#', class: 'no-button' %>
      <%= link_to 'Presse', '#', class: 'no-button' %>
    </div>
</footer>
