<div class="warranty-page">

<div class="text-center" style="padding: 30px">
  <%= link_to 'ACCÈS MEMBRE', new_user_session_path, class: 'button button-blue' %>
</div>

<header>
  <div class="home-wrapper text-center">
    <div class="home-container">
      <div class="title-block">
        <h1>COOKOON</h1>
        <h3>Votre assurance incluse à chaque location</h3>
      </div>

      <div class="col lg-7 col sm-7">
        <h2>Découvrez les garanties de notre partenaire</h2>
      </div>
      <div class="col lg-5 col sm-5">
        <b>en partenariat avec</b>
        <%= image_tag("axa_logo_open_white_rgb.png", class: "img-responsive", style: "max-width: 200px; margin: 0 auto;") %>
      </div>
    </div>
  </div>
</header>

<body>
  <section id="content" style="background-color: #fafeef">
    <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center">
              <div class="section-heading">
                  <h3>Des inquiétudes ?</h3>
                  <h4 class="text-center">Vous êtes immédiatement assuré</h4>
              </div>
          </div>
      </div>

      <!-- One Bullet Point -->
      <div class="row" style="margin-bottom: 30px">
          <div class="col-xs-3 text-center">
            <i class="co co-success fa-5x" aria-hidden="true"></i>
          </div>
          <div class="col-xs-9">
              <h4>Un verre de vin renversé sur la moquette</h4>
          </div>
      </div>
      <!-- End of Bullet Point -->

      <!-- One Bullet Point -->
      <div class="row" style="margin-bottom: 30px">
          <div class="col-xs-3 text-center">
            <i class="co co-success fa-5x" aria-hidden="true"></i>
          </div>
          <div class="col-xs-9">
              <h4>Une porte de placard endommagée ?</h4>
          </div>
      </div>
      <!-- End of Bullet Point -->

      <!-- One Bullet Point -->
      <div class="row" style="margin-bottom: 30px">
          <div class="col-xs-3 text-center">
            <i class="co co-success fa-5x" aria-hidden="true"></i>
          </div>
          <div class="col-xs-9">
              <h4>Un incendie ou un dégat des eaux ?</h4>
          </div>
      </div>
      <!-- End of Bullet Point -->

      <!-- One Bullet Point -->
      <div class="row" style="margin-bottom: 30px">
          <div class="col-xs-3 text-center">
            <i class="co co-success fa-5x" aria-hidden="true"></i>
          </div>
          <div class="col-xs-9">
              <h4>Un objet disparu ?</h4>
          </div>
      </div>
      <!-- End of Bullet Point -->

      <div class="row" style="margin-bottom: 30px">
        <div class="col-xs-12">
            <p>Même lorsque l’on est précautionneux, des accidents peuvent arriver.
            <br>Afin de protéger et de rassurer les hôtes, Cookoon et AXA ont mis en place une solution d’assurance dédiée qui couvre les biens immobiliers et mobiliers durant les occupations.</p>
            <p>Cookoon et AXA proposent donc cette solution d’assurance automatiquement incluse,valable pour toutes les réservations réalisées via la plateforme) dans la limite des conditions prévues au contrat. Les membres de la communauté éviteront ainsi une situation embarrassante ou coûteuse.</p>
        </div>
      </div>

    </div>
  </section>

  <section id="faq" style="background-color: #fafeef">
    <div class="container">
      <div class="tab">
        <input id="tab-one" type="checkbox" name="tabs">
        <label for="tab-one">Quelles sont les garanties ?</label>
        <div class="tab-content warranty-tab">
          <ul>
            <li>La responsabilité civile du locataire encourue vis-à- vis du propriétaire;</li>
            <li>Les dommages aux biens : incendie, inondation , dégâts des eaux, vol/vandalisme, bris de glace (fenêtres, mobiliers en verre).</li>
          </ul>
          <p>Attention, cette assurance ne se substitue pas à l’assurance habitation. Les espaces mis en location sur Cookoon doivent être couverts par un contrat Multirisque Habitation ou un contratd’assurance spécifique en fonction du local loué.</p>
        </div>
      </div>
      <div class="tab">
        <input id="tab-two" type="checkbox" name="tabs">
        <label for="tab-two">Qui est couvert par l'offre Cookoon en partenariat en AXA ?</label>
        <div class="tab-content warranty-tab">
          <ul>
            <li>Particulier ou professionnel ayant réservé un logement meublé via l’application ou le site Cookoon ;</li>
            <li>Son conjoint et ses enfants ;</li>
            <li>Toute autre personne participant à l’occupation du lieu.</li>
          </ul>
        </div>
      </div>
      <div class="tab">
        <input id="tab-three" type="checkbox" name="tabs">
        <label for="tab-three">Quels sont les biens couverts par l'assurance ?</label>
        <div class="tab-content warranty-tab">
          <ul>
            <li>Les maisons ou villas</li>
            <li>Les appartements</li>
            <li>Les châteaux, chalets ou lodges</li>
            <li>Les dépendances de moins de 200 m2</li>
            <li>Les meubles contenus de dans la location meublée</li>
          </ul>
        </div>
      </div>
      <div class="tab">
        <input id="tab-four" type="checkbox" name="tabs">
        <label for="tab-four">Quels sont les biens qui ne sont pas couverts par l'assurance ?</label>
        <div class="tab-content warranty-tab">
          <ul>
            <li>Les hôtels ;</li>
            <li>Les bâtiments classés monuments historiques ;</li>
            <li>Les chalets de haute montagne (inaccessibles aux véhicules de secours pendant au moins une partie de l’année) ;</li>
            <li>Les installations extérieures au bien loué (piscine, tennis, statues à demeure, bancs de pierre,…) ;</li>
            <li>Les objets de valeurs personnels (bijoux, objets d’arts ...) et les fonds et valeurs de l’occupant (chèques, espèces, tickets cadeaux etc.)</li>
          </ul>
        </div>
      </div>
      <div class="tab">
        <input id="tab-five" type="checkbox" name="tabs">
        <label for="tab-five">Quelles sont les garanties ?</label>
        <div class="tab-content warranty-tab">
          <p>La franchise est le montant qui reste à la charge du locataire en cas de sinistre.</p>

          <ul>Le montant de la franchise applicable est égal à :
            <li> Sur la garantie Dommages immobiliers : 350 euros</li>
            <li>Sur la garantie Dommages mobiliers : 200 euros (ex : porte de placard endommagée)</li>
          </ul>
        </div>
      </div>
      <div class="tab">
        <input id="tab-six" type="checkbox" name="tabs">
        <label for="tab-six">Que faire en cas d'incident ?</label>
        <div class="tab-content warranty-tab">
          <p>En cas d’incident, il appartient à l’occupant de le déclarer dans les délais indiqués ci-dessous à notre Agent Général François-Xavier Combes agence.fxcombe1@axa.fr
          <br>Si l’hôte constate, après l’occupation, un sinistre qui n’a pas été porté à sa connaissance par l’occupant, il lui appartient alors de le déclarer.</p>

          <ul>Attention ! Vos déclarations devront être soumises dans des délais impartis :
            <li>dans les 2 jours ouvrés pour le vol ;</li>
            <li>dans les 10 jours de la publication de l’arrêté interministériel constatant l’état de catastrophe naturelle s’il s’agit de dommages mettant en œuvre l’assurance de ce risque ;</li>
            <li>dans les 5 jours pour les autres cas.</li>
          </ul>

          <ul>Merci d'inclure :
            <li>vos coordonnées, la nature du sinistre (vol, dégât des eaux, incendie…) et ses circonstances (date, lieu,…) ;</li>
            <li>un état descriptif et estimatif, certifié sincère et signé, des objets assurés qui ont été endommagés, volés ou détruits ;</li>
            <li>les factures, bons de garantie, photos ou tout autre justificatif ;</li>
            <li>le dépôt de plainte en cas de vol.</li>
          </ul>

          <p>Les informations ci-dessus sont non contractuelles, pour toute information supplémentaire, merci de consulter les conditions générales et les conditions particulières des garanties offertes par Cookoon.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="disclaimer">
    <div class="container" style="margin: 20px 0px">
      <div class="row text-center">
          <div class="col-xs-12">
            <h4>Les informations ci-dessus sont non contractuelles. Pour toute information supplémentaire, merci de consulter les Conditions Générales et les Conditions Particulières de Garanties offertes par Cookoon</h4>
          </div>
      </div>
    </div>
  </section>

  <section id="community" style="background: #006F8B">
    <div class="container">
      <div class="row" style="margin: 20px 65px; color: white">
          <h4>Découvrir Cookoon</h4>
          <p>Découvrez tous les avantages de la communauté Cookoon.
          <br>C'est par ici !</p>
      </div>
      <div class="text-center" style="margin-bottom: 20px">
      <%= link_to 'DÉCOUVRIR COOKOON', en_savoir_plus_path, class: 'btn btn-default button button-white' %>
      </div>
    </div>
  </section>

  <footer>
      <div class="container text-center" style="padding: 20px">
        <p>&copy; Cookoon 2017.
        <br>Tous droits réservés.</p>
        <%= link_to 'Conditions Générales', '#', class: 'no-button' %>
        <%= link_to 'Presse', '#', class: 'no-button' %>
      </div>
  </footer>

</div>
