<%= content_for :navbar_content do %>
  <h4 class='text-primary'>Mes contacts utiles</h4>
<% end %>

<div class="container">
  <h4>Une question ?</h4>
  <p>
    Vous trouverez toutes les réponses sur notre centre d'aide.
  </p>
  <div class="text-center py-3">
    <%= link_to "Centre d'aide", 'https://aide.cookoon.fr', class: 'btn-cookoon btn-cookoon-primary', target: '_blank', data: { turbolinks: false } %>
  </div>

  <hr class='half'>

  <h4>Une demande ? Une envie ?</h4>
  <p>
    Vous n'avez pas trouvé la réponse à votre question ?
    N'hésitez pas à nous contacter, notre concierge répond à toutes vos questions ou besoins par mail à <strong>concierge@cookoon.fr</strong>
  </p>
  <div class="text-center py-3">
    <%= mail_to 'concierge@cookoon.fr', 'Contacter notre concierge', class: 'btn-cookoon btn-cookoon-primary', target: :_blank, data: { turbolinks: false } %>
  </div>

  <hr class='half'>

  <h4>Quelle assurance ?</h4>
  <div class="d-flex align-items-center">
    Votre assurance incluse a chaque location grâce à notre partenaire
    <%= image_tag('iconAxa.jpg', size: "30", class: 'ml-2') %>
  </div>
  <div class="text-center py-3">
    <%= link_to "En savoir plus", 'https://cookoon.fr/garanties/', class: 'btn-cookoon btn-cookoon-primary', target: '_blank', data: { turbolinks: false } %>
  </div>

  <hr class='half'>

  <h4>Un incident ?</h4>
  Vous devez déclarer dans les plus brefs délais les détails de l'incident à notre agent général AXA par mail à <strong>agence.fxcombe1@axa.fr</strong>
  <div class="text-center py-3">
    <%= mail_to 'agence.fxcombe1@axa.fr', 'Contacter François-Xavier Combes', class: 'btn-cookoon btn-cookoon-primary', target: :_blank, data: { turbolinks: false } %>
  </div>
</div>
