<div style="display: flex; justify-content: center;">
  <%= simple_form_for @reservation do |f| %>
    <%= f.input :category, as: :string, as: :hidden, input_html: { id: "test" } %>
    <%= f.input :people_count, input_html: { value: @reservation.default_people_count, data: {target: 'search.countInput'} }, as: :hidden %>
    <%= f.input :type_name, input_html: { value: @reservation.default_type.last ,data: {target: 'search.typeInput'} }, as: :hidden %>
    <%= f.input :start_at, input_html: { data: {target: 'search.dateInput'} }, as: :hidden %>
    <%#= f.submit(class:"btn-cookoon-search") %>
    <%= image_submit_tag("cookoon-logo-favicon.png", class: "btn-cookoon-search-container-submit") %>
  <% end %>
</div>

