<div class="modal-header">
  <h5 class="modal-title" id="reservationNewModalLabel">Votre réservation</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">×</button>
</div>

<div class="modal-body">
  <%= simple_form_for [@cookoon, @reservation],
                      data: {
                        controller: 'reservations',
                        reservations_cookoon_price_cents: @cookoon.price_cents,
                        reservations_min_duration: 1,
                        reservations_max_duration: 5
                      },
                      remote: true do |f| %>
    <div class="recap">
      <div class="text-left">
        <span id="cookoon-price" data-cookoon-price-cents="<%= @cookoon.price_cents %>" class="recap-price">
          <%= humanized_money_with_symbol @cookoon.price %> par heure
        </span>
      </div>
      <div class="recap-datetime">
        <p>Vous arrivez le:</p>
        <%= f.input :start_at,
                    label: false,
                    as: :string,
                    readonly: true,
                    input_html: {
                      value: display_datetime_for(
                        @reservation.start_at,
                        join_expression: 'à',
                        without_year: true,
                        time_separator: ':'
                      ),
                      data: {
                        controller: 'datetimepickers',
                        target: 'datetimepickers.dateInput'
                      }
                    }
      %>
      </div>

      <div>
        <p>Pour une durée de :</p>
        <div class="d-flex-default">
          <i class="fa fa-minus-circle fa-2x" aria-hidden="true" data-action="click->reservations#decrementDuration"></i>
          <div><span data-target="reservations.duration"><%= @reservation.duration %></span> Heure(s)</div>
          <i class="fa fa-plus-circle fa-2x" aria-hidden="true" data-action="click->reservations#incrementDuration"></i>
        </div>
        <%= f.input :duration, input_html: {value: @reservation.duration, data: { target: 'reservations.durationInput' } }, as: :hidden %>
      </div>
    </div>
    <div class="recap-catering">
      <div class="d-flex-default">
        <div class='service-presentation'>
          <p class="service-description">
            Je souhaite être contacté par le service traiteur
          </p>
        </div>
        <!-- ==== CUSTOM CHECKBOX ==== -->
        <div class="service-input">
          <div class="form-group boolean optional reservation_catering">
            <input value="0" type="hidden" name="reservation[catering]">
            <input class="boolean optional d-none" type="checkbox" value="1" name="reservation[catering]" id="reservation_catering">
            <label class="boolean optional toggle" for="reservation_catering">
              <span class="toggle-handler"></span>
            </label>
          </div>
        </div>
        <!-- ==== FIN CUSTOM CHECKBOX ==== -->
      </div>
    </div>
    <%= f.error :cookoon %>

    <div class="d-flex flex-column align-items-center">
      <h5>TOTAL : <span data-target="reservations.displayPrice"><%= humanized_money_with_symbol @reservation.price_with_fees %></span></h5>
      <small class="mb-3">Ce montant comprend les frais de services de la plateforme Cookoon</small>
      <%= f.button :submit, 'Réserver', class: 'btn-light btn-action' %>
    </div>
  <% end %>
</div>
