<% if @tenant.first_name.present? %>
  <p>Cher(e) <%= "#{@tenant.first_name.capitalize}" %>,</p>
<% else %>
  <p>Bonjour,</p>
<% end %>
<p>Vous avez émis une demande de réservation pour "<%= "#{@cookoon.name}" %>", dans le cadre de votre <%= "#{ @reservation.decorate.humanized_type_name }" %> de <%= "#{ @reservation.decorate.people_count_text }" %> le <strong><%= @reservation.decorate.start_on %></strong>.</p>

<h4><%= image_tag("cookoon-losange.png", size: '18', style: 'margin-bottom: -2px;') %> Votre décor et le service</h4>
<p>Votre décor est situé au <%= @cookoon.address %>.</p>
<p><%= @reservation.decorate.recap_string_without_day_and_people_count %> <%= @reservation.decorate.recap_string_end_time_with_bolded_time %></p>

<h4><%= image_tag("cookoon-losange.png", size: '18', style: 'margin-bottom: -2px;') %> Vos souhaits de chef et de menu</h4>
<p>
  <% if @reservation.menu.present? %>
    <span>Vous avez choisi <%= "#{@reservation.menu.chef.name}" %> comme chef avec le menu "<%= "#{@reservation.menu.description}" %>".</span>
    <% if @reservation.menu_status == "selected" %>
      <span> Nous sommes d'ores et déjà en train de confirmer sa disponibilité.</span>
    <% end %>
  <% end %>
</p>
