<p>Bonjour <%= @tenant.first_name %>,</p>
<p>Votre location Cookoon a bien été annulée.</p>

<table border="0" cellpadding="0" cellspacing="10" class="info"><tbody>
  <tr>
    <td align="center">
      <%= image_tag('icon-home.png', alt: 'Cookoon') %>
    </td>
    <td>
      <b><%= @cookoon.name %></b>
      <br>le <%= display_date_for(@reservation.date) %>
      <br>à <%= display_time_for(@reservation.date) %> pour <%= display_duration_for(@reservation.duration) %>
    </td>
  </tr>
</tbody></table>

<ul>
  <li>Si vous avez annulé cette réservation avant la confirmation de l’Hôte, votre carte ne sera pas débitée.</li>
  <li>Si vous avez annulé cette réservation après la confirmation, vous serez remboursé en totalité ou en partie par nos soins : <%= link_to 'voir les conditions d\'annulation', 'https://cookoon.fr/conditions-generales/#4.4.1', target: :_blank %>.</li>
</ul>

<% content_for :post_scriptum do %>
  <p>PS : Une question ? Rendez-vous sur <%= link_to 'aide.cookoon.fr', 'https://aide.cookoon.fr', target: :_blank %>.</p>
<% end %>
