<p>Bonjour <%= @tenant.first_name %>,</p>
<p><%= @tenant.first_name %> a annulé la location de votre Cookoon :</p>

<table border="0" cellpadding="0" cellspacing="10" class="info"><tbody>
  <tr>
    <td align="center">
      <%= image_tag('icon-home.png', alt: 'Cookoon') %>
    </td>
    <td>
      <b><%= @cookoon.name %></b>
      <br>le <%= display_date_for(@reservation.date) %>
      <br>à <%= display_time_for(@reservation.date) %> pour <%= display_duration_for(@reservation.duration) %>
    </td>
  </tr>
</tbody></table>

<p>Nous sommes désolés pour le dérangement occasionné. Votre Cookoon est de nouveau disponible à la location sur cette période.</p>

<% content_for :post_scriptum do %>
  <p>PS : Une question ? Rendez-vous sur <%= link_to 'aide.cookoon.fr', 'https://aide.cookoon.fr', target: :_blank %>.</p>
<% end %>
