<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="margin: auto;" class="email-body">
  <tr>
    <td bgcolor="#ffffff" style="padding: 40px 40px 20px; text-align: center;">
      <h1 style="margin: 0; font-family: sans-serif; font-size: 24px; line-height: 125%; color: #333333; font-weight: normal;">Bonjour <%= @tenant.first_name %>,</h1>
    </td>
  </tr>
  <tr>
    <td bgcolor="#ffffff" style="padding: 0 40px 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; text-align: center;">
      <p style="margin: 0;">Merci d'avoir utilisé Cookoon :</p>
    </td>
  </tr>
  <tr>
    <td align="center" valign="top" style="padding: 10px;">
      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
          <!-- Column : BEGIN -->
          <td class="stack-column-center">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0">
              <tr>
                <td style="padding: 40px 30px 20px; text-align: center;">
                  <p>
                    <b style="color: #006F8B"><%= @cookoon.name %>,</b>
                    <br>Le <b style="color: #006F8B"><%= @reservation.date.strftime('%d/%m/%Y à %H:%M') %></b>
                    <br>pour <b style="color: #006F8B"><%= @reservation.duration %></b> heures.
                  </p>
                </td>
              </tr>
            </table>
          </td>
          <!-- Column : END -->
          <!-- Column : BEGIN -->
          <td class="stack-column-center">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0">
              <tr>
                <td style="padding: 40px 30px 20px; text-align: center;">
                  <p>
                    <b>Vous avez payé :</b>
                    <br>
                    <b style="color: #006F8B"><%= humanized_money_with_symbol @reservation.price_for_rent_with_fees %></b>
                    <br>
                    soit <%= humanized_money_with_symbol @reservation.price %> + <%= humanized_money_with_symbol @reservation.cookoon_fees %>
                  </p>
                </td>
              </tr>
            </table>
          </td>
          <!-- Column : END -->
        </tr>
      </table>
    </td>
  </tr>
  <!-- 2 Even Columns : END -->
  <tr>
    <td bgcolor="#ffffff" style="padding: 0 40px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
      <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto">
        <tr>
          <td style="text-align: center;">
            <%= link_to 'Notez votre Hôte et son Cookoon', 'https://quentin21.typeform.com/to/DLqsgC', class: 'button', target: "_blank" %>
          </td>
        </tr>
      </table>
    </td>
    <td>
  </tr>
  <tr>
    <td bgcolor="#ffffff" style="padding: 0 40px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
      <h2 style="color: #006F8B">Partagez Cookoon</h2>
      <p>Vous faites partie de nos membres les plus actifs; partagez l’expérience avec vos amis et vos proches avec #cookoonlife ou dans votre application 'Invitez mes amis'.</p>
    </td>
  </tr>
</table>
