<p>Bonjour <%= @tenant.first_name %>,</p>

<p>Merci d'avoir utilisé Cookoon :</p>

<p><b><%= @cookoon.name %>,</b>
<br>Le <b><%= @reservation.date %></b>
<br>pour <b><%= @reservation.duration %></b> heures.</p>

<p>Vous avez payé :
<br><b><%= humanized_money @reservation.price_for_rent_with_fees %> €</b>
<br>soit <%= humanized_money @reservation.price %> € + <%= humanized_money @reservation.cookoon_fees %> €</p>

<p>Notez vôtre Hôte et son Cookoon :
<br><b><%= @cookoon.name %></b> chez <b><%= @cookoon.user.first_name %></b>
<br>link to review form</p>


<b>Partagez Cookoon</b>

<p>Vous faites partie de nos membres les plus actifs; partagez l’expérience avec vos amis et vos proches avec #cookoonlife ou dans votre application “Parrainner mes amis’.</p>

<p>A bientôt,
<br>L’équipe Cookoon
<br>#cookoonlife</p>

<p>PS : une question, une envie ? Rendez-vous sur faq.cookoon.fr</p>
