<p>Bonjour <%= @tenant.first_name %>,</p>
<p>Votre demande de location a bien été effectuée :</p>

<table border="0" cellpadding="0" cellspacing="10" class="info"><tbody>
  <tr>
    <td align="center">
      <%= image_tag('icon-home.png', alt: 'Cookoon') %>
    </td>
    <td>
      <b><%= @cookoon.name %></b>
      <br>le <%= display_date_for(@reservation.date) %>
      <br>à <%= display_time_for(@reservation.date) %> pour <%= display_duration_for(@reservation.duration) %>
    </td>
  </tr>
  <tr>
    <td align="center">
      <%= image_tag('icon-euro.png', alt: 'Prix') %>
    </td>
    <td>
      <b>Vous paierez :</b>
      <br><%= humanized_money_with_symbol @reservation.price_with_fees %>
      <br><small>soit <%= humanized_money_with_symbol @reservation.price %> + <%= humanized_money_with_symbol @reservation.cookoon_fees %> de frais</small>
    </td>
  </tr>
  <tr>
    <td align="center">
      <%= image_tag('icon-user.png', alt: 'Hôte') %>
    </td>
    <td>
      <b>Votre hôte est :</b>
      <br><%= @host.full_name %>
      <br><small>membre depuis le <%= display_date_for(@host.invitation_accepted_at || @host.created_at) %></small>
    </td>
  </tr>
</tbody></table>

<p>Nous avons averti <%= @host.first_name %>, l'hôte de ce Cookoon. Vous recevrez la confirmation de la location dès qu'il y aura répondu.</p>
<p>Une envie ? Contactez la <%= mail_to 'concierge@cookoon.fr', 'conciergerie Cookoon', target: :_blank %>.</p>
