<p>Bonjour <%= @tenant.first_name %>,</p>

<p>Votre demande de location a bien été effectuée :</p>

<p><b><%= @cookoon.name %>,</b>
<br>Le <b><%= @reservation.date %></b>
<br>pour <b><%= @reservation.duration %></b> heures.</p>

<p>Vous paierez :
<br><b><%= humanized_money @reservation.price_for_rent_with_fees %> €</b></p>

<p>Votre hôte :
<br><b><%= @cookoon.user.first_name %></b>

<p>Nous avons averti <b><%= @cookoon.user.first_name %></b>, l’Hôte de ce Cookoon. Nous vous informerons de sa décision dès qu’il y aura répondu.</p>

<p>Une question, une envie ? Rendez-vous sur faq.cookoon.fr</p>

<p>A bientôt,
<br>L’équipe Cookoon
<br>#cookoonlife</p>
