<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="margin: auto;" class="email-body">
  <tr>
    <td bgcolor="#ffffff" style="padding: 40px 40px 20px; text-align: center;">
      <h1 style="margin: 0; font-family: sans-serif; font-size: 24px; line-height: 125%; color: #333333; font-weight: normal;">Bonjour <%= @tenant.first_name %>,</h1>
    </td>
  </tr>
  <tr>
    <td bgcolor="#ffffff" style="padding: 0 40px 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; text-align: center;">
      <p style="margin: 0;">Votre demande de location a bien été effectuée :</p>
    </td>
  </tr>
  <tr>
    <td align="center" valign="top" style="padding: 10px;">
      <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
          <!-- Column : BEGIN -->
          <td class="stack-column-center">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0">
              <tr>
                <td style="padding: 40px 30px 20px; text-align: center;">
                  <p>
                    <b style="color: #006F8B"><%= @cookoon.name %>,</b>
                    <br>Le <b style="color: #006F8B"><%= @reservation.date.strftime('%d/%m/%Y à %H:%M') %></b>
                    <br>pour <b style="color: #006F8B"><%= @reservation.duration %></b> heures.
                  </p>
                </td>
              </tr>
            </table>
          </td>
          <!-- Column : END -->
          <!-- Column : BEGIN -->
          <td class="stack-column-center">
            <table role="presentation" cellspacing="0" cellpadding="0" border="0">
              <tr>
                <td style="padding: 40px 30px 20px; text-align: center;">
                  <p>
                    <b>Vous paierez :</b>
                    <br><b style="color: #006F8B"><%= humanized_money @reservation.price_for_rent_with_fees %> €</b>
                    <br>soit <%= humanized_money @reservation.price %> € + <%= humanized_money @reservation.cookoon_fees %> €
                  </p>
                </td>
              </tr>
            </table>
          </td>
          <!-- Column : END -->
        </tr>
      </table>
    </td>
  </tr>
  <!-- 2 Even Columns : END -->
  <tr>
    <td bgcolor="#ffffff" style="padding: 0 40px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; text-align: center;">
      <h2 style="margin: 0; color: #006F8B">Nous avons averti vôtre Hôte : <%= @cookoon.user.first_name %>. Nous vous informerons de sa décision dès qu’il aura répondu.</h2>.
    </td>
  </tr>
</table>
