<% if @host.first_name.present? %>
  <p>Cher(e) <%= "#{@host.first_name.capitalize}" %>,</p>
<% else %>
  <p>Bonjour,</p>
<% end %>

<p>Vous avez une demande de réservation pour "<%= "#{@cookoon.name}" %>", dans le cadre d'<%= "#{ @reservation.decorate.humanized_type_name_with_pronom }" %> de <%= "#{ @reservation.decorate.people_count_text }" %> le <strong><%= display_date_for(@reservation.start_at) %></strong>.</p>

<p><b>Il ne vous reste plus que 24h pour y répondre.</b></p>

<h4><%= image_tag("cookoon-losange.png", size: '18', style: 'margin-bottom: -2px;') %> La demande de réservation</h4>
<% if @tenant.full_name.present? %>
  <p>Cette demande a été émise par <%= "#{@tenant.full_name}" %>.</p>
<% end %>
<p>Les invités seront présents de <strong><%= @reservation.decorate.start_time %></strong> à <strong><%= @reservation.decorate.end_time %></strong>.</p>
<p>Votre lieu de réception devra être mis à disposition de <strong><%= @reservation.decorate.start_time_for_chef_and_service %></strong> à <strong><%= @reservation.decorate.end_time_for_chef_and_service %></strong> pour la préparation et le rangement.</p>

<h4><%= image_tag("cookoon-losange.png", size: '18', style: 'margin-bottom: -2px;') %> Votre rémunération</h4>
<p>Vous recevrez <%= @reservation.cookoon_price %> € dans le cadre de cette réservation.</p>

<table border="0" cellpadding="0" cellspacing="10" class="btn btn-pb-0 btn-primary"><tbody><tr>
  <td align="center">
    <%= link_to 'Répondre à la demande', host_reservations_url, target: :_blank %>
  </td>
</tr></tbody></table>
