<p>Bonjour <%= @tenant.first_name %>,</p>
<p>Votre demande de location a bien été effectuée :</p>

<table border="0" cellpadding="0" cellspacing="10" class="info"><tbody>
  <tr>
    <td align="center">
      <%= image_tag('icon-home.png', alt: 'Cookoon') %>
    </td>
    <td>
      <b><%= @cookoon.name %></b>
      <br>le <%= display_date_for(@reservation.start_at) %>
      <br>à <%= display_time_for(@reservation.start_at) %> pour <%= display_duration_for(@reservation.duration) %>
    </td>
  </tr>
  <% if @reservation.has_tied_services? %>
    <tr>
      <td align="center">
        <%= image_tag('icon-services.png', alt: 'Services') %>
      </td>
      <td>
        <b>Vos services pour <%= @reservation.people_count %> personnes :</b>
        <ul>
          <% @reservation.services.payment_tied_to_reservation.each do |service| %>
            <li><%= Service::DISPLAY.dig(service.category.to_sym, :mail_display_name) %></li>
          <% end %>
        </ul>
      </td>
    </tr>
  <% end %>
  <tr>
    <td align="center">
      <%= image_tag('icon-euro.png', alt: 'Prix') %>
    </td>
    <td>
      <b>Vous paierez :</b>
      <br><%= humanized_money_with_symbol @reservation.payment_amount %>
      <% if @reservation.has_tied_services? %>
        <br><small>soit <%= humanized_money_with_symbol @reservation.degressive_price %> + <%= humanized_money_with_symbol @reservation.services_price %> de services, ainsi que <%= humanized_money_with_symbol @reservation.tenant_fee %> de frais</small>
      <% else %>
        <br><small>soit <%= humanized_money_with_symbol @reservation.degressive_price %> + <%= humanized_money_with_symbol @reservation.tenant_fee %> de frais</small>
      <% end %>
    </td>
  </tr>
  <tr>
    <td align="center">
      <%= image_tag('icon-user.png', alt: 'Hôte') %>
    </td>
    <td>
      <b>Votre hôte est :</b>
      <br><%= @host.full_name %>
      <br><small>membre depuis le <%= display_date_for(@host.invitation_accepted_at || @host.created_at) %></small>
    </td>
  </tr>
</tbody></table>

<p>Nous avons averti <%= @host.first_name %>, l'hôte de ce Cookoon. Vous recevrez la confirmation de la location dès qu'il y aura répondu.</p>
<p>Une envie ? Contactez la <%= mail_to 'concierge@cookoon.fr', 'conciergerie Cookoon', target: :_blank %>.</p>
