<% if @tenant.first_name.present? %>
  <p>Cher(e) <%= "#{@tenant.first_name.capitalize}" %>,</p>
<% else %>
  <p>Bonjour,</p>
<% end %>
<p><%= "#{@reservation.menu.chef.recap_string}" %> a confirmé sa présence dans le cadre de votre <%= "#{ @reservation.decorate.humanized_type_name }" %> de <%= "#{ @reservation.decorate.people_count_text }" %> le <strong><%= @reservation.decorate.start_on %></strong>.</p>

<h4><%= image_tag("cookoon-losange.png", size: '18', style: 'margin-bottom: -2px;') %> Votre décor et le service</h4>
<p>Votre décor est situé au <%= @cookoon.address %>.</p>
<p><%= @reservation.decorate.recap_string_without_day_and_people_count %> <%= @reservation.decorate.recap_string_end_time_with_bolded_time %></p>

<h4><%= image_tag("cookoon-losange.png", size: '18', style: 'margin-bottom: -2px;') %> Vos souhaits de chef et de menu</h4>
<p>
  <% if @reservation.menu.present? %>
    <span>Vous avez choisi <%= "#{@reservation.menu.chef.name}" %> comme chef avec le menu "<%= "#{@reservation.menu.description}" %>".</span>
    <% if @reservation.menu_status == "selected" %>
      <span> Nous sommes d'ores et déjà en train de confirmer sa disponibilité.</span>
    <% end %>
</p>
<% else %>
  <% if @reservation.menu_status == "cooking_by_user" %>
    <p>Vous avez choisi de cuisiner vous-même.</p>
  <% end %>
<% end %>

<h4><%= image_tag("cookoon-losange.png", size: '18', style: 'margin-bottom: -2px;') %> Vos souhaits de services additionnels</h4>
<% if @reservation.services.present? %>
  <p> Vous souhaitez les services additionnels suivants pour sublimer votre expérience: </p>
  <% if @reservation.services_status == "initial" %>
    <ul>
      <% @reservation.services.each do |service| %>
        <li><%= @reservation.decorate.services_collection_for_view_with_sentence_if_not_quoted[service.category.to_sym] %></li>
      <% end %>
    </ul>
  <% else %>
    <ul>
      <% @reservation.services.each do |service| %>
        <li><%= @reservation.decorate.services_collection_for_view_with_sentence_if_quoted[service.category.to_sym] %></li>
      <% end %>
    </ul>
  <% end %>
<% else %>
    <p>Vous n'avez choisi aucun service additionnel.</p>
<% end %>

<h4><%= image_tag("cookoon-losange.png", size: '18', style: 'margin-bottom: -2px;') %> Votre paiement pour le décor et le service</h4>
<p>Le montant de <%= @reservation.stripe_payment_intent_amount_cookoon_butler %> €TTC a été prélevé sur votre carte de crédit.</p>

<h4><%= image_tag("cookoon-losange.png", size: '18', style: 'margin-bottom: -2px;') %> Votre paiement pour le chef et les menus</h4>
<p>Le montant de <%= @reservation.menu_with_tax %> €TTC est en attente de règlement de votre part.</p>

<table border="0" cellpadding="0" cellspacing="10" class="btn btn-pb-0 btn-primary"><tbody><tr>
  <td align="center">
    <%= link_to 'Régler le chef et les menus', new_reservation_payment_url(@reservation), target: :_blank %>
  </td>
</tr></tbody></table>
