<p>Bonjour <%= @tenant.first_name %>,</p>
<p>Votre demande de location du Cookoon a malheureusement été refusée par <%= @host.first_name %> :</p>

<table border="0" cellpadding="0" cellspacing="10" class="info"><tbody>
  <tr>
    <td align="center">
      <%= image_tag('icon-home.png', alt: 'Cookoon') %>
    </td>
    <td>
      <b><%= @cookoon.name %></b>
      <br>le <%= display_date_for(@reservation.date) %>
      <br>à <%= display_time_for(@reservation.date) %> pour <%= display_duration_for(@reservation.duration) %>
    </td>
  </tr>
</tbody></table>

<p>Il reste des Cookoons pour votre événement, rendez-vous sur l’application Cookoon pour trouver un autre espace qui correspond à vos besoins !</p>
<p>Vous pouvez faire plusieurs demandes de location : vous n’êtes débité que si l’hôte accepte votre demande !</p>

<% content_for :post_scriptum do %>
  <p>PS : Une question ? Rendez-vous sur <%= link_to 'aide.cookoon.fr', 'https://aide.cookoon.fr', target: :_blank %>.</p>
<% end %>
