<div
  class="search"
  data-controller="user-searches google-maps-autocomplete"
  data-user-searches-min-duration="1"
  data-user-searches-max-duration="<%= Reservation.default.max_duration %>"
  data-user-searches-min-people-count="1"
  data-user-searches-max-people-count="<%= Reservation.default.max_people_count %>"
>
  <div class="container">
    <div class="d-flex align-items-center justify-content-around justify-content-sm-between child-mx-2 my-2">
      <div class="d-flex-default child-mx-2 pointer" data-action="click->user-searches#toggleBodyVisibility">
        <i class="fa fa-search"></i>
        <div id='infos-address' data-target="google-maps-autocomplete.shortAddress user-searches.address"><%= @user_search.address %></div>
        <div data-target="user-searches.startAt">
          <%= display_datetime_for(@user_search.start_at,
                                   join_expression: 'à',
                                   without_year: true,
                                   time_separator: ':') %>
        </div>
        <div>Pour <span data-target="user-searches.peopleCount"><%= @user_search.people_count %></span></div>
      </div>

      <% if @user_search.persisted? %>
        <%= link_to update_all_user_searches_path, class: 'd-flex-default text-white opacity-hover', method: :patch, remote: true do %>
          <span class="d-none d-sm-block mr-2">Annuler la recherche</span>
          <i class="fa fa-times fa-lg"></i>
        <% end %>
      <% end %>
    </div>
    <div class="search-body" data-target="user-searches.body">
      <div class="container">
        <%= simple_form_for @new_search, remote: true do |f| %>
          <div class="row">
            <div class="col-12">
              <div class="w-100">
                <%= f.input :address,
                            label: false,
                            placeholder: 'Ville, adresse ...',
                            input_html: {
                              class: 'w-100',
                              data: {
                                action: 'keyup->user-searches#updateAddressAndClearVisibility',
                                target: 'google-maps-autocomplete.addressInput user-searches.addressInput'
                              }
                            }
                %>
                <i
                  id="user_search_address_clear"
                  class="fa fa-times"
                  aria-hidden="true"
                  data-action="click->user-searches#clearAddress"
                  data-target="user-searches.addressClear"
                ></i>
              </div>
            </div>
            <div class="col-12">
              <%= f.input :start_at,
                          label: false,
                          placeholder: 'Date & heure',
                          as: :string,
                          readonly: true,
                          input_html: {
                            value: display_datetime_for(
                              @user_search.start_at,
                              join_expression: 'à',
                              without_year: true,
                              time_separator: ':'
                            ),
                            data: {
                              action: 'click->user-searches#updateStartAtTarget',
                              controller: 'datetime-picker',
                              target: 'datetime-picker.startAtInput user-searches.startAtInput'
                            }
                          }
            %>
            </div>

            <!-- Nombre d'heures -->
            <div class="col-12 col-md-6">
              <div class="d-flex-default my-3">
                <i class="fa fa-minus-circle fa-2x" aria-hidden="true" data-action="click->user-searches#decrementDuration"></i>
                <div><span data-target="user-searches.duration"><%= @user_search.duration %></span> heure(s)</div>
                <i class="fa fa-plus-circle fa-2x" aria-hidden="true" data-action="click->user-searches#incrementDuration"></i>
              </div>
              <%= f.input :duration, input_html: { data: { target: 'user-searches.durationInput' } }, as: :hidden %>
            </div>

            <!-- Nombre de participants -->
            <div class="col-12 col-md-6">
              <div class="d-flex-default my-3">
                <i class="fa fa-minus-circle fa-2x" aria-hidden="true" data-action="click->user-searches#decrementPeopleCount"></i>
                <div><span data-target="user-searches.peopleCount"><%= @user_search.people_count %></span> personne(s)</div>
                <i class="fa fa-plus-circle fa-2x" aria-hidden="true" data-action="click->user-searches#incrementPeopleCount"></i>
              </div>
              <%= f.input :people_count, input_html: { data: { target: 'user-searches.peopleCountInput' } }, as: :hidden %>
            </div>
          </div>
          <div class="text-center">
            <%= f.button :button,
                         'CHERCHER',
                         type: :submit,
                         class: 'button button-white',
                         data: {
                           controller: 'analytics-events',
                           action: 'click->analytics-events#userSearchSubmit'
                         }
            %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
