<div
  class="search"
  data-controller="user-searches google-maps-autocompletes"
  data-user-searches-min-duration="1"
  data-user-searches-max-duration="5"
  data-user-searches-min-people="1"
  data-user-searches-max-people="20"
>
  <div class="container">
    <div class="search-header">
      <div class="search-header-clickable" data-action="click->user-searches#toggleBodyVisibility">
        <i class="fa fa-search"></i>
        <div id='infos-address' data-target="google-maps-autocompletes.shortAddress user-searches.address"><%= @search_infos[:position] %></div>
        <div data-target="user-searches.date"><%= @search_infos[:time_slot] %></div>
        <div>Pour <span data-target="user-searches.people"><%= @search_infos[:people_number] %></span></div>
      </div>
      <% if @current_search %>
        <%= link_to user_searches_path, method: :patch, remote: true do %>
          <div class="d-flex align-items-center">
            <p class="hidden-xs">Annuler la recherche</p>
            <i class="fa fa-times-circle ml-10"></i>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="search-body" data-target="user-searches.body">
      <div class="container">
        <%= simple_form_for @new_search, remote: true do |f| %>
          <div class="row">
            <div class="col-xs-12">
              <div class="btn-group w-100">
                <%= f.input :address,
                            label: false,
                            placeholder: 'Ville, adresse ...',
                            input_html: {
                              value: @user_search.address,
                              data: {
                                action: 'keyup->user-searches#updateAddressAndClearVisibility',
                                target: 'google-maps-autocompletes.addressInput google-maps-autocompletes.inputAddress user-searches.addressInput'
                              }
                            }
                %>
                <i
                  id="user_search_address_clear"
                  class="fa fa-times"
                  aria-hidden="true"
                  data-action="click->user-searches#clearAddress"
                  data-target="user-searches.addressClear"
                ></i>
              </div>
            </div>
            <div class="col-xs-12">
              <%= f.input :date,
                          label: false,
                          placeholder: 'Date & heure',
                          as: :string,
                          readonly: true,
                          input_html: {
                            value: display_datetime_for(
                              @user_search.date,
                              join_expression: 'à',
                              without_year: true,
                              time_separator: ':'
                            ),
                            data: {
                              action: 'click->user-searches#updateDateTarget',
                              controller: 'datetimepickers',
                              target: 'datetimepickers.dateInput user-searches.dateInput'
                            }
                          }
            %>
            </div>

            <!-- Nombre d'heures -->
            <div class="col-xs-12 col-md-6">
              <div class="increment-block">
                <i class="fa fa-minus-circle fa-2x" aria-hidden="true" data-action="click->user-searches#decrementDuration"></i>
                <div><span data-target="user-searches.duration"><%= @user_search.duration %></span> heure(s)</div>
                <i class="fa fa-plus-circle fa-2x" aria-hidden="true" data-action="click->user-searches#incrementDuration"></i>
              </div>
              <%= f.input :duration, input_html: { value: @user_search.duration, data: { target: 'user-searches.durationInput' } }, as: :hidden %>
            </div>

            <!-- Nombre de participants -->
            <div class="col-xs-12 col-md-6">
              <div class="increment-block">
                <i class="fa fa-minus-circle fa-2x" aria-hidden="true" data-action="click->user-searches#decrementPeople"></i>
                <div><span data-target="user-searches.people"><%= @user_search.number %></span> personne(s)</div>
                <i class="fa fa-plus-circle fa-2x" aria-hidden="true" data-action="click->user-searches#incrementPeople"></i>
              </div>
              <%= f.input :number, input_html: {value: @user_search.number, data: { target: 'user-searches.peopleInput' } }, as: :hidden %>
            </div>
          </div>
          <div class="text-center">
            <%= f.button :button, 'CHERCHER', type: :submit, class: 'button button-white' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
