<%= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), remote: true, authenticity_token: true do |f| %>
  <%= f.hidden_field :invitation_token %>

  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :born_on, start_year: Date.today.year - 90, end_year: Date.today.year - 12, selected: { year: 1965, day: 1, month: 1 } %>
  <%= f.input :phone_number %>
  <%= f.input :password, required: true %>
  <%= f.input :password_confirmation, required: true %>
  <%= f.input :terms_of_service, as: :boolean, label: "J'accepte les #{link_to('conditions générales de services', general_conditions_url, target: :_blank, class: 'a_gold')} ".html_safe %>

  <div class="text-center my-3">
    <%= f.button :submit, t('.submit'), class: 'btn-cookoon btn-cookoon-primary' %>
  </div>
<% end %>
