<%= simple_form_for :payment, url: reservation_payments_path(@reservation), remote: true, html: { id: 'pay-form' } do |f| %>
  <% if current_user.available_discount? %>
    <div class="discount-select">
      Cliquez pour utiliser votre crédit sur cette location.
      <%= link_to discount_new_reservation_payment_path(@reservation.id), remote: true, method: :post do %>
        <p id='discount-balance'>Crédit disponible : <%= humanized_money_with_symbol current_user.discount_balance %></p>
      <% end %>
    </div>
  <% end %>
  <%= f.input :use_discount, as: :hidden, input_html: { value: 'false' } %>
  <div class="credit-card-select">
    <i class="fa fa-credit-card" aria-hidden="true"></i>
    <%= f.input :source, collection: @user_cards, selected: :first, label: false, label_method: ->(card){ "#{card.brand.upcase} XXXX-XXXX-XXXX-#{card.last4}" }, value_method: ->(card){ card.id } %>
  </div>
  <div class="text-center">
    <%= f.button :button, 'PAYER', as: :submit, class: 'button button-blue', id: 'pay-button' %>
  </div>
<% end %>
