<% content_for :navbar_back_url, cookoon_path(@reservation.cookoon) %>

<div class="container"
     data-controller="payments"
     data-payments-amounts-url="<%= amounts_reservation_payments_path(@reservation) %>"
     data-payments-discount="false"
>
  <h2>Payez votre réservation</h2>

  <p><b>Votre location :</b></p>

  <p>le <b><%= display_datetime_for(@reservation.start_at, join_expression: 'à') %></b> pour <b><%= display_duration_for(@reservation) %></b>, pour <b><%= @reservation.people_count %> personnes.</b></p>

  <p>Vos services :</p>

  <div class='d-flex justify-content-around'>
    <% @service_categories.each do |service_category| %>
      <div data-action="serviceChanged->payments#priceChanged">
        <%= c 'service', service_category %>
      </div>
    <% end %>
  </div>

  <p class='small text-secondary text-center mt-2'>
    Choisissez une des options suivantes ou faites-vous recontacter par le concierge pour adapter les services (nombre de personnes, menus spéciaux, demandes sur-mesure ...)
  </p>

  <div class="text-center my-3 text-primary">
    •
  </div>

  <div class="mb-4">
    <div class="d-flex-default mb-2">
      Location Cookoon
      <span><%= humanized_money_with_symbol @reservation.price %></span>
    </div>

    <div class="d-flex-default mb-2<%= ' d-none' if @reservation.services_price.zero? %>" data-target="payments.servicesPriceLine">
      Prestations
      <span data-target="payments.servicesPrice"><%= humanized_money_with_symbol @reservation.services_price %></span>
    </div>

    <div class="d-flex-default mb-2">
      Frais de service
      <span><%= humanized_money_with_symbol @reservation.tenant_fee %></span>
    </div>

    <hr>

    <div class="d-flex-default mb-2">
      <b data-target="payments.chargeAmountLabel">TOTAL</b>
      <b data-target="payments.chargeAmount"><%= humanized_money_with_symbol @reservation.payment_amount %></b>
    </div>
  </div>

  <!-- ========= CARD SELECTION ============= -->
  <% if @credit_cards.blank? %>
    <div class="text-center py-3">
      <div class="py-3">
        <p>Vous n'avez aucun moyen de paiement</p>
        <% if current_user.available_discount? %>
          <p>
            Vous devez en ajouter un afin de pouvoir <b>profiter de vos <%= humanized_money_with_symbol current_user.discount_balance %>
            de crédit.</b>
          </p>
        <% else %>
          <p>Vous devez en ajouter un avant de pouvoir faire une demande de réservation</p>
        <% end %>
      </div>
      <%= link_to 'Ajouter une carte', "#", class: 'button button-blue', data: {toggle: "modal", target: "#credit-card-modal"} %>
    </div>
  <% else %>
    <% if current_user.available_discount? %>
      Cliquez pour utiliser votre crédit sur cette location (disponible jusqu'au : <%= display_date_for(current_user.discount_expires_at) %>)

      <div class="payment-block" data-action="click->payments#toggleDiscount" data-target="payments.discountButton">
        <b><span data-target="payments.userDiscountLabel">Crédit disponible</span> : <span data-target="payments.userDiscountBalance"><%= humanized_money_with_symbol current_user.discount_balance %></span></b>
        <i class='co co-check'></i>
      </div>

      <div class="text-center my-3 text-primary">
        •
      </div>
    <% end %>

    <%= render 'form' %>
    <div class="text-center">
      <div style="font-size:12px; margin-top: 15px">
        <p>
          Votre carte bleue ne sera débitée que si l'Hôte accepte votre demande de location.
        </p>
        <p>
          Attention : nous procédons tout de même à une demande d'autorisation de paiement sur votre compte.
        </p>
      </div>
    </div>
  <% end %>
  <!-- ========= END CARD SELECTION ============= -->
</div>
