<% content_for :navbar do %>
  <%= render 'shared/navbar_light', url: cookoon_path(@reservation.cookoon) %>
<% end %>

<div class="container">
  <h2>Payez votre réservation</h2>

  <b>Votre location :</b>
  <br><br>
  <p>le <b><%= display_datetime_for(@reservation.date) %></b> pour <b><%= display_duration_for(@reservation) %></b></p>

  <div class="pt-5 pb-3">
    <div class="container-flex">
      <p>Prix de la location</p>
      <p><%= humanized_money_with_symbol @reservation.price %></p>
    </div>
    <div class="container-flex">
      <p>Frais de services</p>
      <p><%= humanized_money_with_symbol @reservation.cookoon_fees %></p>
    </div>
    <hr>
    <div class="container-flex">
      <b id='total-text'>TOTAL</b>
      <b id='reservation-price'><%= humanized_money_with_symbol @reservation.price_with_fees %></b>
    </div>
  </div>

  <!-- ========= CARD SELECTION ============= -->
  <% if @user_cards.blank? %>
    <div class="text-center py-3">
      <div class="py-3">
        <p>Vous n'avez aucun moyen de paiement</p>
        <p>Vous devez en ajouter un avant de pouvoir faire une demande de réservation</p>
      </div>
      <%= link_to 'Ajouter une carte', credit_cards_path, class: 'button button-blue' %>
    </div>
  <% else %>
    <%= render 'form' %>
    <div class="text-center">
      <div style="font-size:12px; margin-top: 15px">
        <p>
          Votre carte bleue ne sera débitée que si l'Hôte accepte votre demande de location.
        </p>
        <p>
          Attention : nous procédons tout de même à une demande d'autorisation de paiement sur votre compte.
        </p>
      </div>
    </div>
  <% end %>
  <!-- ========= END CARD SELECTION ============= -->
</div>

<script>
  var form = document.getElementById('pay-form');
  var $button = $('#pay-button');
  form.addEventListener('submit', function(event) {
    $button.prop("disabled", true);
    $button.html('<i class="fa fa-spinner fa-spin" style="margin-right: 10px;"></i>Chargement');
  });
</script>
