<% content_for :navbar_back_url, cookoon_path(@reservation.cookoon) %>

<div class="container">
  <h2>Payez votre réservation</h2>

  <b>Votre location :</b>
  <br><br>
  <p>le <b><%= display_datetime_for(@reservation.start_at) %></b> pour <b><%= display_duration_for(@reservation) %></b></p>

  <p>Vos services pour <%= @reservation.people_count %> personnes</p>

  <div class='d-flex justify-content-around'>
    <!-- TODO: icons + create link for each service -->
    <% @service_categories.each do |category| %>
      <%= c 'service', category: category, url: reservation_services_path(@reservation), method: :post %>
    <% end %>
  </div>

  <div class="pt-5 pb-3">
    <div class="d-flex-default">
      <p>Prix de la location</p>
      <p><%= humanized_money_with_symbol @reservation.price %></p>
    </div>
    <div class="d-flex-default">
      <p>Frais de services</p>
      <p><%= humanized_money_with_symbol @reservation.tenant_fee %></p>
    </div>
    <hr>
    <div class="d-flex-default">
      <b id='total-text'>TOTAL</b>
      <b id='reservation-price'><%= humanized_money_with_symbol @reservation.price_with_tenant_fee %></b>
    </div>
  </div>

  <!-- ========= CARD SELECTION ============= -->
  <% if @credit_cards.blank? %>
    <div class="text-center py-3">
      <div class="py-3">
        <p>Vous n'avez aucun moyen de paiement</p>
        <% if current_user.available_discount? %>
          <p>
            Vous devez en ajouter un afin de pouvoir <b>profiter de vos <%= humanized_money_with_symbol current_user.discount_balance %>
            de crédit.</b>
          </p>
        <% else %>
          <p>Vous devez en ajouter un avant de pouvoir faire une demande de réservation</p>
        <% end %>
      </div>
      <%= link_to 'Ajouter une carte', "#", class: 'button button-blue', data: {toggle: "modal", target: "#credit-card-modal"} %>
    </div>
  <% else %>
    <%= render 'form' %>
    <div class="text-center py-3">
      <%= link_to 'Ajouter une carte', "#", data: {toggle: "modal", target: "#credit-card-modal"} %>
    </div>
    <div class="text-center">
      <div style="font-size:12px; margin-top: 15px">
        <p>
          Votre carte bleue ne sera débitée que si l'Hôte accepte votre demande de location.
        </p>
        <p>
          Attention : nous procédons tout de même à une demande d'autorisation de paiement sur votre compte.
        </p>
      </div>
    </div>
  <% end %>
  <!-- ========= END CARD SELECTION ============= -->
</div>

<%= render 'credit_cards/modal' %>
