<p>Bonjour <%= @resource.first_name %>,</p>
<p>Grâce à <%= @resource.invited_by.try(:first_name) %>, vous êtes invité(e) à rejoindre Cookoon, un réseau de confiance, exclusif.</p>
<p>Pour nous rejoindre :</p>

<table border="0" cellpadding="0" cellspacing="10" class="info"><tbody>
  <tr>
    <td align="center">
      <%= image_tag('icon-one.png', alt: 'Un') %>
    </td>
    <td align="center">
      <b>Téléchargez l’application Cookoon Inside</b>
      <table border="0" cellpadding="0" cellspacing="10" class="store-badge"><tbody><tr>
        <td align="center">
          <a href="https://itunes.apple.com/fr/app/cookoon-inside/id1291943406?mt=8" target="_blank">
            <%= image_tag('app-store-badge.png', alt: 'App Store') %>
          </a>
          <a href="https://play.google.com/store/apps/details?id=cookoon.cookoonandroid" target="_blank">
            <%= image_tag('google-play-badge.png', alt: 'Google Play Store') %>
          </a>
        </td>
      </tr></tbody></table>
    </td>
  </tr>

  <tr>
    <td align="center">
      <%= image_tag('icon-two.png', alt: 'Deux') %>
    </td>
    <td align="center">
      <b>puis créez votre compte Cookoon.</b>
      <table border="0" cellpadding="0" cellspacing="10" class="btn btn-primary btn-pb-0"><tbody><tr>
        <td align="center">
          <%= link_to "J'accepte l'invitation", accept_invitation_url(@resource, :invitation_token => @token), target: :blank %>
        </td>
      </tr></tbody></table>
    </td>
  </tr>
</tbody></table>

<p>Sur Cookoon, vous pouvez :</p>
<ul>
  <li><strong>organiser des micro-événements du quotidien, personnels ou professionnels,</strong> en louant l'appartement d'un autre membre et en réservant des services, traiteur, chef à domicile, joueur de harpe, pour une expérience Cookoon unique,</li>
  <li><strong>rentabiliser votre appartement durant vos absences quotidiennes,</strong> sans contrainte grâce aux services concierge et ménage,</li>
  <li><strong>rencontrer d'autres membres,</strong> communiquer auprès d'eux sur vos expériences Cookoon.</li>
</ul>


<p>Une question ? Rendez-vous sur <%= link_to 'cookoon.fr/en-savoir-plus', en_savoir_plus_url, target: :blank %>.</p>
