<%= simple_form_for @cookoon,
                    remote: true,
                    html: {
                      class: 'pb-3',
                      data: {
                        controller: 'google-maps-autocomplete'
                      }
                    } do |f| %>
  <%= f.input :name, label: 'Nom du Cookoon', placeholder: 'Ex: Aux Abbesses chez Noémie et Thomas' %>
  <%= f.input :surface, label: 'Surface de réception en m²' %>
  <%= f.input :price, label: 'Prix / heure' %>
  <%= f.input :address,
              label: 'Adresse',
              placeholder: '',
              input_html: {
                data: {
                  target: 'google-maps-autocomplete.addressInput google-maps-autocomplete.formattedAddress'
                }
              }
  %>
  <%= f.input :capacity, label: "Capacité d'accueil" %>
  <%= f.input :category, label: 'Categorie', collection: Cookoon::CATEGORIES %>
  <%= f.input :photos, as: :attachinary, input_html: { data: { controller: 'attachinary' } } %>

  <h5 class="mt-3">Informations pratiques</h5>
  <%= f.input :digicode %>
  <%= f.input :building_number %>
  <%= f.input :floor_number %>
  <%= f.input :door_number %>
  <%= f.input :wifi_network %>
  <%= f.input :wifi_code %>
  <%= f.input :caretaker_instructions, input_html: { rows: 3 } %>

  <div class="text-center">
    <%= f.submit 'PROPOSER MON COOKOON', class: 'btn btn-primary btn-action btn-block' %>
  </div>
<% end %>
