<%= content_for :navbar_content do %>
  <h4 class='text-primary'>Résultats <br/> de votre recherche</h4>
  <p>le <%= display_datetime_for @search.start_at, join_expression: 'à' %></p>
  <p>pour <%= @search.duration %> heures et pour <%= @search.people_count %> personnes</p>
<% end %>

<div id="cookoons_and_map" class="row no-gutters">
  <% if @cookoons.empty? %>
    <%= render 'no_cookoon' %>
  <% else %>
    <%= render 'cookoons_and_map' %>
  <% end %>
</div>
