<% content_for :navbar do %>
  <%= render 'shared/navbar_transparent', url: cookoons_path %>
<% end %>

<%= carousel_for(@cookoon.photos) %>

<div class="container">
  <div class="block-presentation">
    <h3><%= @cookoon.name %></h3>
    <p><%= @cookoon.category %> <i>de <span class="text-gray"><%= @cookoon.user.first_name %></span></i></p>
  </div>
  <div>
    <p>
      <%= @cookoon.description %>
    </p>
  </div>

  <i class="text-gray">Ce Cookoon dispose d'un espace de réception de <b><%= @cookoon.surface %> m²</b>, il est idéal pour <b><%= @cookoon.capacity %></b> personnes.</i>
</div>

<!-- Modal -->
<%= render 'reservation_modal' %>

<!-- Map -->
<div id="map-cookoon-show" class="map-cookoon-show"></div>

<!-- Booking / review block -->
<%= booking_button_or_review_block_for(@cookoon) %>

<script>
  var marker_json = [
    {
      "lat": <%= @cookoon.latitude %>,
      "lng": <%= @cookoon.longitude %>,
      "infowindow": "<h3><%= @cookoon.name %></h3>"
    }
  ]
</script>
