<% content_for :navbar_type, :fixed_back %>

<div class="bg-dark">
  <%= carousel_for(@cookoon.photos) %>
</div>

<div class="cookoon-title-wrapper">
  <div class="cookoon-title-content">
    <h4><%= @cookoon.name %></h4>
  </div>
</div>


<div class="container mt-3">
  <p><b><%= @cookoon.category %></b> <i>de <span class="text-secondary"><%= @cookoon.user.first_name %></span></i></p>

  <p><%= @cookoon.description %></p>

  <i class="text-secondary">Ce Cookoon dispose d'un espace de réception de <b><%= @cookoon.surface %> m²</b>, il est idéal pour <b><%= @cookoon.capacity %></b> personnes.</i>
</div>

<!-- Map -->
<div class="map-cookoon-show"
     data-controller='google-maps'
     data-target="google-maps.cookoonShowMap"
     data-google-maps-marker="<%= @marker.to_json %>"
></div>

<div style='padding: 45px;'></div>

<!-- Booking / review block -->
<%= booking_button_or_review_block_for(@cookoon) %>
