<div class="container">
  <h2 class="h4 mb-0">Gérer mes disponibilités</h2>

  <% @weeks.each do |week| %>
    <h3 class="h6 mt-3"><%= week[:display] %></h3>

    <div class="row">
      <div class="offset-4 col-8">
        <div class="row no-gutters text-muted">
          <% Availability.time_slots.keys.each do |time_slot| %>
            <div class="col d-flex justify-content-center align-items-center text-center">
              <small><%= Availability::TIME_SLOTS.dig(time_slot.to_sym, :display) %></small>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <% week[:days].each do |day| %>
      <div class="row">
        <div class="col-4 d-flex align-items-center">
          <p class="text-muted m-0"><%= day[:display] %></p>
        </div>

        <div class="col-8">
          <div class="row no-gutters text-primary">
            <% day[:time_slots].each do |time_slot| %>
              <div class="col d-flex justify-content-center align-items-center text-center my-2">
                <%= c 'availability', time_slot %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="mt-3 mb-5 pb-1">
    <p>Vous pouvez décider des disponibilités de votre Cookoon <span class="font-weight-bold">jusqu'à 3 semaines à l'avance</span>.</p>

    <p>Par défaut, votre Cookoon sera toujours disponible : <span class="font-weight-bold">pensez à les mettre à jour régulièrement</span> pour éviter de recevoir des demandes de locations qui ne vous intéressent pas.</p>
  </div>
</div>

<% if @cookoons.size > 1 %>
  <%= render 'cookoons_modal' %>
<% end %>
