<!DOCTYPE html>
<html data-controller="application"
      data-application-cloudinary-config-params="<%= cloudinary_config_params %>"
>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">
    <title>Cookoon</title>
    <%= csrf_meta_tags %>
    <%= turbolinks_cache_control_meta_tag %>
    <%= favicon_link_tag %>

    <%= stylesheet_pack_tag 'application', media: :all, 'data-turbolinks-track': :reload %>

    <% if Rails.env.production? %>
      <%= render 'shared/marketing/google_analytics' %>
      <%= render 'shared/marketing/hotjar' %>
      <%= render 'shared/marketing/facebook_sdk' %>
      <%= render 'shared/marketing/linkedin_insight' %>
    <% end %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': :reload, async: @device != :ios_inside %>
    <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_KEY']}", async: true %>
    <%= javascript_include_tag 'https://js.stripe.com/v3/', async: true %>
    <!-- <script src="https://js.stripe.com/v3/" async="async"></script> -->
  </head>

  <body class="<%= yield(:body_class) %>" data-controller="application-navigation" >
    <%= c 'navbar_cookoon',
          type: content_for?(:navbar_type) ? yield(:navbar_type) : :standard if current_user %>

    <%= render 'shared/pretender_infos' %>
    <div id="flash">
      <%= render 'shared/flashes' %>
    </div>

    <%= yield %>

    <%= render 'shared/footer' unless @namespace == 'un_chef_pour_vous' %>

    <!-- Force reloading page if navigation from browser arrows -->
    <script>
      if (performance.navigation.type === 2) {
        location.reload(true);
      }
    </script>
  </body>
</html>
