<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%= message.subject %></title>
    <link rel="stylesheet" href="https://app.cookoon.fr/mailer.css">
  </head>
  <body>
    <table border="0" cellpadding="0" cellspacing="0" class="body">
      <tr>
        <td>&nbsp;</td>
        <td class="container">
          <div class="content">

            <!-- START CENTERED WHITE CONTAINER -->
            <span class="preheader"><%= message.subject %></span>
            <table border="0" cellpadding="0" cellspacing="0" class="main">
              <tr>
                <td>
                  <%= image_tag('mailer-header.jpg', alt: 'Cookoon', class: 'header-image') %>
                </td>
              </tr>

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">

                  <table border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <%= yield %>
                        <p>
                          A très bientôt sur Cookoon,
                          <br>Quentin & Grégory
                        </p>
                        <%= yield :post_scriptum %>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- END MAIN CONTENT AREA -->
              <tr>
                <td align="center" class="prefooter">
                  <b>COOKOON</b>
                  <br>Partagez vos expériences avec <a href="https://twitter.com/search?f=tweets&q=%23cookoonlife" target="blank">#cookoonlife</a>
                </td>
              </tr>
            </table>

            <!-- START FOOTER -->
            <div class="footer">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                    <span class="apple-link">Réceptions Nouvelles SAS, 12 rue Lincoln, 75008 Paris</span>
                    <br>Vous ne souhaitez plus recevoir nos emails ? <a href="mailto:concierge@cookoon.fr">Dites-le nous</a>
                  </td>
                </tr>
              </table>
            </div>
            <!-- END FOOTER -->

          <!-- END CENTERED WHITE CONTAINER -->
          </div>
        </td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </body>
</html>
